{{- $defaultRelation := "related" -}}
{{- $entityBase := "http://www.wikidata.org/entity/" -}}

{{- with .Params.wikidata -}}
  {{- $entries := dict -}}
  {{- if not (reflect.IsMap .) -}}
    {{- $list := slice -}}
    {{- if not (reflect.IsSlice .) -}}
      {{- $list = slice . -}}
    {{- else  -}}
      {{- $list = . -}}
    {{- end -}}
    {{- range $list -}}
      {{- $entries = merge $entries (dict . $defaultRelation) -}}
    {{- end -}}
  {{- else -}}
    {{- $entries = . -}}
  {{- end -}}

  <ul class="wikidata">
    <div class="wikidata-title">{{ i18n "WikidataEntries" }}</div>
    {{- range $url, $relation := $entries -}}
      {{- $id := replaceRE `https://www.wikidata.org/wiki/` "" $url -}}
      {{- $uri := printf "%s%s" $entityBase $id -}}
      <li class="wikidata-entry">
        <a href="{{ $uri }}" title="{{ $id }}" rel="{{ $relation }}">{{ i18n "WikidataEntry" }}</a>
      </li>
    {{- end -}}
  </ul>
{{- end -}}
