[submodule "cmahnke.net"]
	path = cmahnke.net
	url = https://github.com/cmahnke/cmahnke.net.git
[submodule "themes/hugo-video"]
	path = themes/hugo-video
	url = https://github.com/martignoni/hugo-video.git
[submodule "themes/projektemacher-base"]
	path = themes/projektemacher-base
	url = https://github.com/cmahnke/projektemacher-base.git
[submodule "github-cmahnke"]
	path = github-cmahnke
	url = https://github.com/cmahnke/cmahnke.git
