.tag-ring {
  padding: 1.4em 1.4em ;
  max-width: 50em;
  margin: auto;
  /*background-color: #f1ffb7;*/
  box-shadow: 0 0 2px #ff5477;
  border-radius: 1rem;
  aspect-ratio: 1/1;
  width: 95%;
  margin-bottom: 1em;

  @media (max-width: 35em) {
    padding: .4em .4em;
  }
}
