@use '../component-common' as *;

rdf-graph {
  --graph-width: 100%;
  /* --graph-height: calc(100vh - 10%); */
  --graph-height: 100vh;
  --sparql-export-btn-display: none;

  width: var(--graph-width);
  height: var(--graph-height);
  display: block;
  position: relative;
}
