input[type="checkbox"]:checked ~ .touch-content .touch-back {
  z-index: 2;
}

.touch-content {
  position: relative;
  /*width: fit-content;*/
  margin: auto;
  width: 33%;

  @media (max-width: 1080px) {
    width: 66%;
  }

  .touch-front {
    /* position: absolute; */
    width: 100%;
  }

  .touch-back {
    position: absolute;
    z-index: -1;
    /*height: 100%;*/
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.2;
  }
}

#status {
  color: red;
}

.section-container {
  position: relative;
  display: flex;
  justify-content: center;
}

#iiif-container {
  aspect-ratio: 4 / 3;
  width: 80%;
  position: absolute;
  min-height: 50vh;

  &:focus-visible {
    border: 0;
    outline: unset;
  }
}

.openseadragon-canvas {
  outline: none;
}
