.section-art-collection {
  position: relative;
  width: 100%;
  min-height: 200px;
  z-index: 1;

  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 50%;
    z-index: -1;
    background-image: url('/images/art-collection-bg.webp');
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }

  &::before {
    background-position: top;
    top: 0;
  }

  &::after {
    bottom: 0;
    transform: rotate(180deg) scaleX(-1);
    background-position: bottom;
    margin-top: -1px;
  }


  .page-wrapper .main .header .header-spacer {
    background-image: linear-gradient(#b2444d, #FD3005);
  }

  .content-container.art-collection {
    max-width: min(96em, 100vw - 20em);

    @media (max-width: 75em) {
      max-width: 64em;
    }

    .section-head {

      max-width: min(64em, 100vw - 20em);
      margin: 3em auto;

      @media (max-width: 75em) {
        margin: 0;
        max-width: 64em;
      }

      .parallax-bg {
        background-image: unset;
      }

      .section-head-title {
        color: #31527c;
        mix-blend-mode: hue;
        background-color: unset;

        @media (max-width: 65em) {
          font-size: 12vw;
        }
      }
    }

    .artists-toc {
      font-size: 1.2rem;
      display: flex;
      list-style-type: none;
      padding: 1.4em 1.4em 1em 1.4em;
      border-radius: 1rem;
      box-shadow: 0 0px 6px #ff5477;
      margin: 1em;
      text-justify: none;
      align-content: center;
      align-items: center;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      background-color: #ff5477bb;

      a:before {
        color: #000;
        content: '☞ ';
      }

      a:hover {
        text-decoration: none;
      }

      .toc-header {
        flex-basis: 100%;
        font-weight: bolder;
        text-align: center;
      }

      li {
        display: inline-block;

        color: rgb(56, 56, 56);
        mix-blend-mode: darken;
      }
    }

    .posts {
      a:before,
      a:after {
        content: unset;
      }

      a:hover {
        text-decoration: none;
      }

      .artist-header {

      }

      .post {
        margin-top: unset;

        .post-body {
          .post-preview {
            position: relative;
            display: block;
            margin: unset;

            picture {
              width: fit-content;
              display: block;
            }

            .sub-title {
              position: absolute;
              bottom: 0;
              left: 0;
              right: 0;
              width: 100%;
              padding: .6rem 2rem;
              background: rgb(255 255 255 / 50%);
            }
          }

          .post-summary {

          }
        }
      }
    }
  }
}
