$box-border: #ff5477;

@import "fonts/stix-two-text";
$body-text: "STIX Two Text Variable";


@page  {
  size: A4 !important;
  margin-top: 1cm;
  margin-bottom: 1cm;
  margin-left: 1cm;
  margin-right: 1cm;
  counter-reset: footnote 0;

  @footnote {
    border-top: dashed black 1px;
    float: bottom;
  }

  @bottom-right {
    content: '';
  }

  @bottom-left {
    content: '';
  }

   @bottom-center {
    content: '';
   }
}

p {
  font-family: $body-text;
}

.article {
  header {
    .wrapper {
      display: none;
    }

    .header-spacer {
      display: none;
    }
  }

  h1, h2, h3 {
    letter-spacing: -1px;
    font-variant-caps: small-caps;
  }
}

.content-container {
  max-width: 100%;



  .post {
    margin-top: unset;

    .content {
      h1, h2, h3 {
        min-width: 100%;
      }

      .post-meta {
        display: flex;
        margin-bottom: 1cm;
        flex-direction: column;

        .label {
          font-weight: bold;

        }

        .post-author {
          width: max-content;
          align-self: center;
          text-align: center;

          .author-orcid{
            white-space: nowrap
          }
        }

        
        .post-url {
          display: flex;
          flex-direction: row;
          justify-content: flex-end;
          white-space: nowrap;
          align-items: center;
        }

        .article-link {
          margin-left: .2rem;
        }

        .post-url {
          margin-top: 1rem;
        }

        .tags-heading {
          max-width: 50%;
          width: 50%;
          margin-left: auto;
          display: flex;
          flex-direction: column;
          align-items: flex-end;

          .label {
            margin-top: .4rem;
            display: block;
          }

          .tags {
            margin-block-start: 0;
            display: flex;
            width: 90%;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: flex-end;

            li {
              width: fit-content;
              display: inline-block;
              margin: .2rem;
              /*padding: 0 .4rem;*/
            }
          }
        }

        .tags li {
          border: 1px solid grey;
          padding: .2rem;
          border-radius: .2rem;
        }

      }


      .post-title {
        font-size: 2.5rem;
        margin-bottom: 0.5em;
        text-align: center;
        width: 100%;
        box-shadow: unset;
      }

      .post-description {
        font-size: 1.2rem;
        margin-bottom: 1em;
        text-align: center;
        margin-top: unset;
      }

      .tags {
        text-align: center;
        padding-inline-start: 0;
        display: unset;

        li {
          display: inline-block;
          margin-right: 0.5em;
          font-size: inherit;
        }

      }

      .doi-reference {
        display: none;
      }

      .post-body {
        font-family: $body-text;
        column-count: 2;
        column-gap: 1.5rem;
        display: unset;

        & > p:first-child {
          font-style: italic;

        }

        p {
          text-align: justify;
        }

        div.highlight {
          column-span: all;
        }

        div.highlight + ul {
          margin-block-start: 0;
        }

        .footnote-number {
          margin-left: .1cm;
          font-size: 65%;
          vertical-align: super;
        }

        h1 {
            font-size: 2rem;
            margin-top: 1.5em;
        }
        h2 {
            font-size: 1.5rem;
            margin-top: 1.2em;
        }

        code,
        pre:not(:has(code)) {
          /*
          border-width: 1px 1px 1px 10px;
          border-style: solid;
          border-color: rgb(223, 223, 223) rgb(223, 223, 223) rgb(223, 223, 223) $box-border;
          */
          border-width: 1px;
          border-style: solid;
          border-color: rgb(223, 223, 223);
          font-family: "Courier New", Courier, monospace;
          font-size: 0.9rem;
          background-color: #f5f5f5;
          padding: 0.2em 0.4em;
          border-radius: 4px;
          break-inside: avoid;
        }

        h1, h2, h3 {
          &[id*="update"] {
            column-span: all;

            & ~ p {
              column-span: all;
            }
          }
        }

        .post-image {
          margin: 1em;

          img {
            width: 100%;
            height: auto;
            display: block;
            object-fit: cover;
            break-inside: avoid;
          }
        }


      }

      .post-footer {
        .cite-container {
          display: none;
        }

      }
    }
  }

  .tags {
    font-weight: unset;
  }
}

a {
  &:before,
  &:after {
    content: '' !important;
  }
}

.references-heading {
  font-size: 1.5rem;
  margin-top: 1.2em;
  letter-spacing: -1px;
  font-variant-caps: small-caps;

}

.footnote-container {
  .footnote-number {
    margin-right: 1pt;
  }
}

@media screen {
  .footnote {
    display: none;
  }
}

.footnote {
  float: footnote;
}

.footnote::footnote-call {
    content: counter(footnote, decimal) " ";
    vertical-align: super;
    font-size: 0.8em;
}

.footnote::footnote-marker {
    content: counter(footnote, lower-roman);
    font-size: 14pt;
    display: inline-block;
    width: 2em;
    padding-right: 1em;
    text-align: right;
}

