@use 'sass:color';
@use "functions/color" as *;

/* Also update toc.scss and slider-canvas.scss when changing this  */
$box-background: #f1ffb7;
$box-border: #ff5477;

$text-color: #000;

@import "normalize";
@import "iframe-consent";
@import "fonts/league-spartan";
@import "fonts/poiret-one";
@import "fonts/josefin-sans";
@import "fonts/inconsolata";
@import "icons";
@import "filters";
@import "zoom-link";
@import "pdf-viewer";
@import "iiif";
@import "ol";
@import "ol-iiif";
@import "map";
@import "./site-icons";
@import "./pagination";
@import "./code";
@import "./gallery";
@import "./blog";
@import "./tagcloud";
@import "./iiif-hdr";
@import "./syntax";
@import "./doi";
@import "./print";
@import "./wikidata";
@import "./footnote";
@import "./related";
@import "./tables";

/* Themes */
/* @import "blog-themes/base"; */
@import "blog-themes/uranium";
@import "blog-themes/night";
@import "blog-themes/never";
@import "blog-themes/sepia";
@import "blog-themes/lucienne";
@import "blog-themes/toc-text";

$gradient-color-light: #b2444d;
$gradient-color-mid: #a41416;
$gradient-color-dark:  #701611;

/* $text-underline-color: #ff073a; */
$marker-color: #ff073a;
/* $text-underline-color: lighten(#ff073a, 15%); */
$text-underline-color: color.adjust(#ff073a, $lightness: 15%);
$background-important: #cfff04;

$content-width: 64em;
$menu-margin: 10em;

$linkedin-icon: 'data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" height="16" width="14" viewBox="0 0 448 512"><path d="M416 32H31.9C14.3 32 0 46.5 0 64.3v383.4C0 465.5 14.3 480 31.9 480H416c17.6 0 32-14.5 32-32.3V64.3c0-17.8-14.4-32.3-32-32.3zM135.4 416H69V202.2h66.5V416zm-33.2-243c-21.3 0-38.5-17.3-38.5-38.5S80.9 96 102.2 96c21.2 0 38.5 17.3 38.5 38.5 0 21.3-17.2 38.5-38.5 38.5zm282.1 243h-66.4V312c0-24.8-.5-56.7-34.5-56.7-34.6 0-39.9 27-39.9 54.9V416h-66.4V202.2h63.7v29.2h.9c8.9-16.8 30.6-34.5 62.9-34.5 67.2 0 79.7 44.3 79.7 101.9V416z"/></svg>';

$external-link-icon: "data:image/svg+xml;utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='#{encodecolor($marker-color)}' d='M432,320H400a16,16,0,0,0-16,16V448H64V128H208a16,16,0,0,0,16-16V80a16,16,0,0,0-16-16H48A48,48,0,0,0,0,112V464a48,48,0,0,0,48,48H400a48,48,0,0,0,48-48V336A16,16,0,0,0,432,320ZM488,0h-128c-21.37,0-32.05,25.91-17,41l35.73,35.73L135,320.37a24,24,0,0,0,0,34L157.67,377a24,24,0,0,0,34,0L435.28,133.32,471,169c15,15,41,4.5,41-17V24A24,24,0,0,0,488,0Z'/%3E%3C/svg%3E";

@mixin li-marker {
  content: '☞';
  color: $marker-color;
  font-size: 1.4em;
  display: inline-block;
  vertical-align: sub;
  padding-right: .8em
}

:root {
  --background-color: #{$background-color};
  --foreground-color: #{$foreground-color};
  --accents-color: #{$accents-color};
}

html {
    scroll-behavior: smooth;
    --width: min($content-width, calc(100vw - 2 * $menu-margin));
}

body {
    margin: 0;
    padding: 0;
    font-family: "League Spartan", Futura, sans-serif;
}

h1, h2, h3, h4 {
    font-family: 'Josefin Sans', Futura, sans-serif;
}

p {
    font-family: 'League Spartan', Futura, sans-serif;

    &.small {
        font-size: smaller !important;
        text-align: end;
    }
}

a,
a:active,
a:focus,
a:hover,
a:visited {
    text-decoration: none;
    color: black;
}

.header {
    font-family: 'League Spartan', Futura, sans-serif;
    background: white;
    position: sticky;
    top: 0;
    z-index: 100;

    &.sticky-top,
    &.js-is-sticky {
        transition: all .5s;
        z-index: 100;
    }

    .menu-open {
        display: none;
        opacity: 0;
        position: fixed;

        .menu-open-icon {
            transition: all .4s;
            content: url($bars-light);
            background-color: rgba(0, 0, 0, .6);
            height: 1.8em;
            width: 1.8em;
            cursor: pointer;
            position: fixed;
            border-radius: .2rem;
            top: 2em;
            left: 2em;
            padding: .6em;
            display: block;
        }

        @media (max-width: 35em) {
            display: block;
            opacity: 1;
            z-index: 200;
        }

    }

    .wrapper {
        position: relative;
        margin: auto;
        align-items: center;
        justify-content: center;
        height: 3em;
        display: flex;
        max-width: min($content-width, calc(100vw - 2 * $menu-margin));
        width: calc(100% - 2 * 1rem);
        padding: 0 1rem;

        @media (max-width : 75em) {
            max-width: unset;
            width: unset;
        }

        @media (max-width: 35em) {
            padding: unset;
            height: unset;
        }
    }

    .home-link {

    }

    .header-title {
        margin-block-start: 0.4em;
        margin-block-end: 0.4em;
        display: inline-block;
        font-weight: 600;
        font-size: 3em;
        height: 100%;
        margin: auto;
        display: none;
    }

    .menu {
        width:100%;
        padding-top: .2rem;

        #menu-toggle {
            display: none;

            @media (max-width: 35em) {
                &:checked + label {
                    transition: all 0.5s;
                    display: block;
                    z-index: 201;
                    opacity: 1;
                }

                &:checked + label + ul {
                    transform: translateX(0px);
                    transition: all 0.5s;
                    display: block;
                }
            }
        }

        .menu-button {
            display: none;
            opacity: 0;
            position: fixed;

            @media (max-width : 35em) {
                transition: all .4s;
                opacity: 1;
            }
            .menu-icon {
                content: url($close-dark);
                background-color: rgba(255, 255, 255, .6);
                height: 1.8em;
                width: 1.8em;
                cursor: pointer;
                position: fixed;
                border-radius: .2rem;
                top: 1em;
                left: 2em;
                padding: .6em;
            }
        }

        .menu-icon {
            display: none;
            @media (max-width : 35em) {
                transition: all 0.5s;
                content: url($bars-light);
                display: inline-block;
                vertical-align: bottom;
                margin-top: 1rem;
                margin-right: 0.5em;
                height: 2.4em;
                width: 2.4em;
            }
        }

        .navigation-list {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            gap: 1.4em;
            transition: all 0.5s;

            @media (max-width : 46em) {
              gap: .3em;
            }

            @media (max-width : 35em) {
                transform: translateX(-100vw);
                left: 0;
                overflow-y: auto;
                position: fixed;
                z-index: 200;
                top: 0;
                bottom: 0;
                width: 100vw;
                background: rgba(0, 0, 0, 0.9);
                padding-top: 4.4em;
                display: unset;
                color: white;
            }

            .navigation-item {
                height: 100%;
                font-size: 1.6em;
                font-weight: 300;
                vertical-align: middle;
                border-top: 2px solid transparent;

                .navigation-link i.link-icon {
                    display: none;
                }

                &.current {
                    font-weight: 400;
                    &:before {
                        margin-left: .4rem;
                        color: $marker-color;
                        content: '_';
                    }
                }

                &.lang {
                    flex-grow: 1;
                    display: flex;
                    justify-content: flex-end;
                    @media (max-width : 35em) {
                        margin: auto;
                        padding-top: .6rem;
                        margin-top: .6rem;
                        border-top: 2px solid rgba($marker-color, 0.4);
                        width: 70%;
                        display: block;
                    }

                }
                @media (max-width : 35em) {
                    height: unset;
                    display: block;
                    text-align: center;
                    margin: 1rem 0;
                    a {
                        filter: #{"invert()"};
                    }
                }
            }
        }
    }

    .header-spacer {
        width: 100%;
        height: .6rem;
        background-image:linear-gradient($gradient-color-light, transparent);
        @media (max-width : 35em) {
            display: none;
        }
    }

    .backToTop {
        transition: all .4s;
        opacity: 0;
        content: url($up-light);
        height: 1.8em;
        width: 1.8em;
        cursor: pointer;
        position: fixed;
        border-radius: .2rem;
        bottom: 4em;
        right: 4em;
        background-color: rgba(0, 0, 0, .6);
        padding: .6em;

        @media (max-width : 35em) {
            display: none;
        }
    }

    .backToTop:hover {
        transform: scale(1.1);
        background-color: rgba(0, 0, 0, .4);
        border: 1px solid white;
    }

}

.main {
  overflow-x: clip;
}

.home .sticky-top .backToTop,
/* .home .js-is-sticky .backToTop, */
.show-top-button .backToTop {
    opacity:1;
}

.navigation-list {
    display: inline-block;
    padding-inline-start: 0;
    list-style-type: none;
    margin-block-start: 0;
    margin-block-end: 0;
}

#menu-toggle {
    display: none;
}

.img-background {
    background-image: radial-gradient(closest-side, transparent 80%, $gradient-color-mid), url('../images/bg.svg'), linear-gradient($gradient-color-mid 274px, transparent);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
    height: 273px;
    width: 320px;
    position: relative;
    filter: drop-shadow(0px 0px 23px $gradient-color-mid) drop-shadow(0px 0px 23px $gradient-color-mid) drop-shadow(0px 0px 23px $gradient-color-mid) drop-shadow(0px 0px 23px $gradient-color-mid);
    border-radius: 50%;

    @media (max-width : 25em) {
        background-image: radial-gradient(closest-side, transparent 80%, $gradient-color-mid);
        width: calc(320px * .75);

    }

    .img-wrapper {
        width: 190px;
        height: auto;
        position: absolute;
        top: 43px;
        left: 68px;
        background-image: linear-gradient(transparent 200px, $gradient-color-mid);
        border-radius: 50% 50% 50% 50%/ 90px 90px 90px 90px;

        @media (max-width : 25em) {
            width: calc(190px * .75);
            top: calc(43px * .75);
            left: calc(68px * .75);
        }

        .me {
            width: 190px;
            /* his is the value if coloured filter: brightness(0.77); */
            filter: brightness(0.8);
            -moz-filter: brightness(1.1);
            display: block;
            border-radius: 50% 50% 50% 50%/ 90px 90px 90px 90px;

            @media (max-width : 25em) {
                width: calc(190px * .75);
            }

            &:hover {
                /* mix-blend-mode: luminosity; */
                filter: brightness(1.1);
            }
        }
    }
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translate(-50%, 0);
    }
    40% {
        transform: translate(-50%, -30px);
    }
    60% {
        transform: translate(-50%, -15px);
    }
}

.hero {
    filter: #{"grayscale()"};
    background-image: linear-gradient(135deg,$gradient-color-dark, $gradient-color-mid, $gradient-color-light);
    box-shadow: inset -1px -11px 21px -15px rgba(0, 0, 0, .75);
    /*
         background-image: linear-gradient(45deg,$gradient-color-dark, transparent), linear-gradient($gradient-color-light, transparent), linear-gradient(135deg,  transparent, #923f35);
         background-color: $gradient-color-mid;
*/
    background-size: cover;
    height: calc(100vh - 3em);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    @media (max-width : 75em) {
        align-items: unset;
        min-height: 32em;
    }
    @media (max-width: 35em) {
        min-height: 38em;
        height: calc(100vh);
    }

    .wrapper {
        height: min-content;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        /*max-width: min($content-width, calc(100vw - 2 * $menu-margin));*/
        max-width: $content-width;

        @media (max-width : 75em) {
            align-items: unset;
            margin-top: 2em;
        }
        @media (max-width : 25em) {
            margin-top: unset;
        }

        .hero-caption {
            font-family: 'League Spartan', Futura, sans-serif;
            font-weight: 700;
            text-align: center;
            /* margin: 1em auto; */
            padding-left: 5em;
            color: white;
            text-shadow: 10px 10px 0 $gradient-color-light;

            @media (max-width : 75em) {
                flex-basis: 100%;
                margin-top: 6.6em;
                padding-left: 0;
            }

            @media (max-width : 25em) {
                margin-top: 3em;
            }

            .name {
                font-size: 5em;

                @media (max-width : 75em) {
                    margin-top: -.4em;
                    font-size: 4.4em;
                    position: relative;
                }
            }

            .title {
                font-size: 2em;
                text-align: right;
                @media (max-width : 75em) {
                    text-align: center;
                }
            }
        }
    }
    .bouncer {
        content: url($down-light);
        height: 2em;
        width: 2em;
        display:flex;
        animation: bounce 2s infinite;
        box-sizing:border-box;
        flex-basis: 100%;
        cursor: pointer;
        position: absolute;
        bottom: 1em;
        left: 50vw;
    }
}

.button-gradient {
    background-image: linear-gradient(100deg ,$gradient-color-light, $gradient-color-dark);
    color: #fff;
    display: inline-block;
    vertical-align: middle;
    border-radius: .2rem;
    border: 0;
    white-space: nowrap;

    &.animated {
      mask-size: 300%;
      mask-image: linear-gradient(135deg, rgba(255,255,255,1) 45%, rgba(0,0,0,0.2) 50%, rgba(255,255,255,1) 55%);

      @keyframes shine {
        from {
          mask-position: 100%;
        }
        to {
          mask-position: 0%;
        }
      }

      &:hover {
        animation: .5s forwards shine;
      }
    }
}

.iframe-wrapper {
    transform: translateX(100vw);
    transition: all .5s;

    &.show {
        transform: translateX(0px);
        overflow-x: unset;
    }
}

.type-text {
    clip-path: inset(0 100% 0 0);

    &.show {
        position: relative;
        /* white-space: nowrap; */
        animation-name: show-text;
        animation-duration: 1s;
        animation-fill-mode: both;
        animation-timing-function: linear;
        /* clip-path: inset(0 100% 0 0); */

        &.instant {
            animation-duration: 0s;
        }
    }

    &.para {
        margin-top: 0.2rem;
    }

    @keyframes show-text {
    	from {
            clip-path: inset(0 100% 0 0);
    	}
    	to {
            clip-path: inset(0 0 0 0);
    	}
    }
}

.content-container {
    max-width: min($content-width, calc(100vw - 2 * $menu-margin));
    /* margin: 3em auto; */
    margin: 3em auto;
    margin-top: calc(3em + 1.4rem);

    @media (max-width : 75em) {
        margin: 0 1.6rem;
        max-width: $content-width;
    }

    /*
    @media (max-width : 64em) {
        margin: 0 1rem;
        max-width: calc($content-width - 2 * 1rem);
    }

    @media (min-width : $content-width) {
        margin: 3em auto;
    }

    */

    @media (max-width : 25em) {
        margin: 0 .6rem;
        max-width: $content-width;
    }

    &.list {
      @include post-description();
    }

    &.list .post {
      &.odd {
        .post-description {
          align-self: end;
        }
      }
    }

    .posts .post-body .post-preview {
      display: flex;
      justify-content: center;
      margin: .6em 0;

      @media (min-width : 75em) {
          margin-bottom: 1.2em 0;
      }

      a::before,
      a::after {
        content: unset;
        margin-right: unset;
        margin-left: unset
      }

      a:hover {
          text-decoration: none;
      }

      picture {
        display: flex;
        justify-content: center;

        a {
          width: 100%;

          @media (min-width : 75em) {
              width: 60%;
          }

          img {
            width: 100%;
          }
        }

         &> img {
          width: 100%;

          @media (min-width : 75em) {
              width: 60%;
          }
        }
      }
    }

    &.subsection {
      .list-block {
          text-align: start;
          text-align: left;
          list-style: none;
          padding-inline-start: 0;

          li:before {
              @include li-marker();
          }

          .li-heading {
              font-weight: 600;
              display: inline-block;
          }
      }
    }

    .post-body {
        ul {
            list-style: none;
            padding-inline-start: 0;
            /*padding-inline-start: 0;*/

            li {
                padding-left: 1em;
            }

            li::before {
              @include li-marker();
              /*
                content: '☞';
                color: $marker-color;
                font-size: 1.4em;
                display: inline-block;
                vertical-align: sub;
                padding-right: .8em
              */
            }

            /* Doesn't work in Safari
            li::marker {
                content: '☞';
                color: $marker-color;
                font-size: 1.4em;
                display: inline-block;
                vertical-align: sub;
                padding-right: .4em
            }
            */
        }

        hr {
            width: 80%;
            border: 6px solid $box-border;

            &:first-of-type {
                margin-top: 2em;
            }
        }
    }

    .post-body a,
    a {
        &:before {
            content: '_';
            color: $marker-color;
            margin-right: -2px;

        }
        &:after {
            content: '_';
            color: $marker-color;
            margin-left: -1px;
        }
        &:hover {
            text-decoration: underline;
            text-decoration-color: $marker-color;
        }
    }

    .post-body a.blog,
    a.blog {
        display: block;
        font-style: italic;
        font-weight: 100;
        margin-left: auto;
        text-align: end;
        transition: all 150ms;

        @media (min-width : 35em) {
            display: inline-block;
            float: inline-end;
            margin-right: 4rem;
        }

        &.external {
          &:after {
              content: url($external-link-icon);
              height: .8em;
              width: .8em;
              line-height: 1;
              display: inline-block;
              color: $marker-color;
              margin-left: 7px;
              vertical-align: text-top;
          }
        }

        &:before {
            content: '🡒';
            color: $marker-color;
            margin: 0 7px;

        }
        &:after {
            content: '⌘';
            color: $marker-color;
            margin-left: 5px;
        }
        &:hover {
            transform: scale(1.05);
            transition: all 150ms;
            text-decoration: none;
        }
        &.inline {
            display: unset;
            float: unset;
            margin-right: unset;
        }
    }

    .home-section {
        .title {
            border-bottom: 3px solid #ff3131;
            box-shadow: inset 0 -4px 0 #ff3131;
        }
    }

    .section-head {
        .section-head-title {
            font-size: 8em;
            font-weight: 800;
            background-color: white;
            color: black;
            mix-blend-mode: screen;
            padding-top: .6rem;
            padding-bottom: 1.1rem;
            margin-bottom: .2em;

            &.tag-list-title {
                font-size: 5vw;

                @media screen and (orientation:portrait) {
                    font-size: 7.2vw;
                }
            }

            @media (max-width : 35em) {
                font-size: 15vw;
            }
        }

        &.paginator {
          a::before,
          a::after {
            content: unset;
            margin-right: unset;
            margin-left: unset
          }

          a:hover {
            text-decoration: none;
          }

        }

        .parallax-bg {
            background-image: url('/images/red-lether.jpg');
            background-attachment: fixed;
            background-position: center;
            background-repeat: repeat;
            background-size: 10%;
            width: max-content;
        }

        .section-head-content {
            font-size: 1.6em;
            font-style: italic;
            text-align: end;

            p {
                margin: unset;
            }
        }

    }

    .section-head-content,
    .tag-list-content,
    .section-content-body,
    .section-content-subsection,
    .post-body {
        font-family: 'League Spartan', Futura, sans-serif;
        flex-direction: column;
        display: flex;
        flex-basis: 100%;
        line-height: 1.4;
        font-size: 1.2em;
        position: relative;
        width: 100%;

        p {
          @media (max-width : 35em) {
              max-width: 100vw;
              text-align: justify;
              hyphens: auto;
          }
        }

        h1:has(code),
        h2:has(code),
        h3:has(code) {
          display: unset;
        }

        .gallery {
            a:has(img) {
                &:before {
                    content: unset;
                }

                &:after {
                    content: unset;
                }
            }
        }

        div.gallery + p,
        script + p {
          margin-top: 1em;
        }

        p {
            img {
                  width: 100%;
            }
        }
    }

    .tag-list-content {
        font-size: 1.6rem;
        p {
          margin: unset;
        }
    }

    ul {
        display: flex;
        flex-direction: column;

        li {
            padding-left: .4rem;

            p {
                display: inline-flex;
                margin: .4rem 0 !important;
                display: unset;
            }

            ul {
                li {
                    padding-left: 3rem;
                }
            }
        }
    }

    .no-link {
        &:before,
        &:after {
            content: '';
        }
    }

    .section-content-title,
    h2, h3 {
        box-shadow: inset 0 -15px 0 $text-underline-color;
        /*width: max-content;*/
        max-width: fit-content;
        display: flex;
        @media (max-width : 35em) {
            max-width: 95vw;
            box-shadow: unset;
            position: relative;
            mix-blend-mode: darken;
            box-shadow: inset 0 -15px 0 $text-underline-color;
            /*
            &:after {
                width: 50%;
                left: 0;
                content: '';
                box-shadow: inset 0 -15px 0 $text-underline-color;
                position: absolute;
                height: 100%;
                z-index: -1;
            }
            */
        }
    }

    .section-content {
        background-color: white;
        display: flex;
        flex-direction: column;

        ul {
            text-align: left;
            list-style: none;
            padding-inline-start: 0;

            li::before {
              @include li-marker();
              /*
                content: '☞';
                color: $marker-color;
                font-size: 1.4em;
                display: inline-block;
                vertical-align: sub;
                padding-right: .4em
              */
            }
        }

        p, h2, h3 {
            text-align: inherit;
        }

        p {
            margin: .4rem .4em;
        }

        ul, li, a, p {
            font-family: 'League Spartan', Futura, sans-serif;
        }

        code {
            line-height: 1.4;
            font-size: 1em;
            font-family: 'Inconsolata', monospace;
        }

        .list-block {
            background-color: color.adjust($background-important, $lightness: 35%);
            /*background-color: lighten($background-important, 35%);*/
            padding: 1.4em;
            padding-left: 2.4em;
            border-radius: 1rem;
            box-shadow: 0 0px 2px $text-underline-color;
            @media (max-width : 35em) {
                /* padding: 1em; */
                padding: .7em;
                padding-left: 1.2em;
                width: 100%;
                border: unset;
                border-radius: unset;
                box-sizing: border-box;
            }

            & + p {
                width: 100%;
                text-align: center;
            }
        }

        &.even {
            text-align: left;
            justify-content: flex-start;
            align-items: flex-start;
            p, h2, h3, .inline-list {
                align-self: flex-start;
            }

        }

        &.odd {
             text-align: right;
             justify-content: flex-end;
             align-items: flex-end;

             p, h2, h3, .inline-list {
                 align-self: flex-end;
             }

             .inline-list {
                 direction: rtl;
                 list-style: none;
                 margin-right: 1em;
                 li {
                     text-align: right;
                        &:before {
                         content: '☜';
                         padding-left: .4em;
                     }
                 }
             }

             .section-content-title,
             h2, h3 {
                 /*
                 &:after {
                     left: unset;
                     right: 0
                 }
                 */
             }

             &.section-other-collectors {
                 p, h2, h3, .inline-list {
                     align-self: flex-start;
                 }
             }
        }

        .inline-list {
            display: flex;
            width: max-content;
            min-width: 50%;
            margin: 1em 2em;
            flex-flow: column;
            a {
                &:before, &:after {
                    content: '';
                }
                &:hover {
                    text-decoration: none;
                }
            }
        }

        .section-content-title {
            font-size: 2.4em;
            margin-top: 2.6em;
            display: flex;
            justify-content: flex-end;
            width: max-content;

            @media (max-width : 35em) {
                font-size: 10vw;
                margin-top: 1em;
            }
        }

        .li-heading {
            display: inline-block;
            padding-bottom: .4rem;
            padding-top: .6rem;
            font-weight: 600;
        }

    }

    .section-menu {
        position: fixed;
        left: 2em;
        width: calc((100vw - #{$content-width} - 5em) / 2);
        display: none;
        opacity: 0;
        transition: all .4s;
        top: 5em;
        font-family: 'Josefin Sans', Futura, sans-serif;
        min-width: 5em;

        ul {
            list-style: none;
            margin-block-start: 0;
            margin-block-end: 0;
            padding-inline-start: 0;

            li {
                text-indent: -15px;
                margin-left: 10px;
            }

            a:after {
                content: ''
            }
        }
    }

    .html-video {
        @media (max-width : 35em) {
            max-width: 100vw;
            height: auto;
        }
    }

    &.single .post {
        .post-footer {
            display: flex;
            justify-content: space-between;
            flex-direction: row;

            .spacer {
                flex-grow: 1;
            }

            .meta,
            .spacer,
            .wikidata {
              margin: 1.8rem 0;
            }
        }

        .meta {
            justify-content: flex-end;
            position: relative;

            .tags-heading {
              display: none;
            }

            .tags {
              position: unset;
                /*
                position: absolute;
                right: 0;
                */

            }
        }

        .aframe-3d-model {
          width: 100%;
          max-height: 60vh;
        }

        .date {
            align-self: flex-end;
            margin-bottom: .8em;
        }
    }
}

@media (min-width : calc( #{$content-width} + 12em )) {
    .show-top-button +  .content-container .section-menu {
        display: block;
        opacity: 1;
    }
}

.posts {
    display: flex;
    flex-direction: column;

    .even {
        text-align: left;
        justify-content: flex-start;
        align-items: flex-start;
        p, h2, h3, .inline-list {
            align-self: flex-start;
        }
        .meta .tags {
            left: 0;
        }
        .post-date {
            align-self: flex-end;
        }
    }

    .odd .meta .tags {
        flex-direction: row-reverse !important;

        a {
            padding-left: 1rem
        }
    }

    .even .meta .tags {
        a {
          padding-right: 1rem
        }
    }

    .meta {
      .tags-heading {
        display: none;
      }

      .tags {
        max-height: 7em;
        justify-content: space-between;
        display: flex;
        flex-direction: row !important;
        width: 35%;
        flex-wrap: wrap;

        @media (max-width : 35em) {
          width: 100%;
        }
      }
    }

    .odd {
        text-align: right;
        justify-content: flex-end;
        align-items: flex-end;
        p, h2, h3, .inline-list {
            align-self: flex-end;
        }
        .inline-list {
            direction: rtl;
        }
        .meta .tags {
            right: 0;
        }
        .post-date {
            align-self: flex-start;
        }
    }

}

.post {
    line-height: 1.4;
    font-size: 1.2rem;
    margin-top: 3em;
    /* This prevents overlaps in to long tag lists
    padding-top: 1em;
    */

    @media (max-width: 36em) {
      h1, h2, h3, h4 {
        word-wrap: break-word;
      }
    }

    .content {
        display: flex;
        flex-direction: column;
    }

    .post-image {
        margin-block-start: 0;
        margin-block-end: 0;
        margin-inline-start: 0;
        margin-inline-end: 0;
        max-width: min($content-width, calc(100vw - 2 * $menu-margin));

        img {
            width: 100%;
            height: auto;
        }
    }
    .post-body,
    .post-date {
        font-family: 'League Spartan', Futura, sans-serif;

        &:has( + .post-body .post-description) {
            margin-bottom: unset;
        }
    }

    .post-title {
        box-shadow: inset 0 -15px 0 $text-underline-color;
        width: max-content;

        @media (max-width : $content-width) {
            width: auto;
        }

        @media (max-width : 35em) {
            max-width: 95vw;
        }
    }

    a {
        &:before,
        &:after,
        &:hover {
            content: '';
            text-decoration: none;
            margin-left: 0;
            margin-right: 0;
        }
    }

    .post-date {
        display: flex;
        align-self: flex-end;
        font-weight: 200;
        margin-bottom: .8rem;
    }

    p {
        margin-top: 0;
    }

    .readmore,
    .tags,
    .date {
        font-family: 'Josefin Sans', Futura, sans-serif;
        display: flex;
    }

    .date,
    .tags {
        font-weight: 200;
    }

    .meta {
        margin: 3em 0;
        display: flex;
        flex-direction: row;
        justify-content: center;
        position: relative;

        @media (max-width : 35em) {
            flex-direction: column;
        }

        .tags-heading {
          display: none;
        }

        a {
            &:before,
            &:after {
                content: '';
            }
            &:hover {
                text-decoration: none;
            }
        }

        .readmore {
            text-align: center;
            width: max-content;
            align-self: center;
            cursor: pointer;
            @media (max-width : 35em) {
                margin-bottom: 1em;
            }

            .button-gradient {
                cursor: pointer;
                padding: .45em .6em .6em .6em;
            }
        }

        .tags {
            font-size: 1.6em;
            flex-direction: column;
            position: absolute;
            @media (max-width : 35em) {
                position: unset;
                text-align: center;
            }
        }
    }
}

.iframe-wrapper {
    line-height: unset;

    .opt-in {
        /*
        max-width: min($content-width, calc(100vw - 2 * $menu-margin));
        */
        max-width: $content-width;

        .video-preview {
            padding: 1rem 1rem 0 1rem;
            max-width: 100%;
            filter: url($sunset-filter);
            @supports (font: -apple-system-body) and (-webkit-appearance: none) {
                filter: sepia(100%) hue-rotate(360deg) saturate(800%) brightness(110%) contrast(75%);
            }

            & + .opt-in-overlay-content {
                bottom: 0;
                margin: -.8rem 1rem 1rem;
                padding-top: 0;
                box-sizing: border-box;
                line-height: 1.4;
                width: 100%;
            }
        }

        .opt-in-overlay {

            .opt-in-header {
                padding-top: 1rem;
                margin-top: unset;
                box-shadow: unset;
            }

            .opt-in-text {
              margin-block-start: unset;
              margin-block-end: unset;
            }
        }
    }
    .switch-wrapper {
        margin: 1em 1rem;

        .opt-in-switch input:checked+.opt-in-slider {
            background-color: $text-underline-color;
        }
        .opt-in-confirm {
            font-weight: 300;
            font-family: 'League Spartan', Futura, sans-serif;
        }
    }
}

.link-image {
    margin-right: .6rem;
    vertical-align: middle;
    height: 1.2em;
    width: 1.2em;
    display: inline-block;
}

.github {
    content: url($github-light);
}

.librarything {
    content: url($librarything-light);
}

.instagram {
    content: url($insta-light);
}

.linkedin {
    content: url($linkedin-light);
}

.orcid {
    content: url($orcid-light);
}

.mastodon {
  content: url($mastodon-light);
}

.md-term {
  content: url($md-term-light);
}

.wikidata {
  content: url($wikidata-light);
}

.gnd {
  content: url($gnd-light);
}

.projektemacher {
    filter: #{"invert()"};
    border-radius: 50%;
}

/* This is a .section-container only used on the start page */
.home-container {
    .section-head {
        .section-head-title {
            font-size: 8em;
            font-weight: 800;
            background-color: white;
            color: black;
            mix-blend-mode: unset;
            padding-top: unset;
        }

        .parallax-bg {
            background-image: unset;

        }
    }
}

#contact .section-content-body {
    width: calc(100% - 4em);
    position: relative;
    &:after {
        position: absolute;
        content: '';
        background-image: url('/images/no-emoji.svg');
        background-size: contain;
        height: 100%;
        width: 4em;
        right: -4em;
        background-repeat: no-repeat;
        bottom: 0;
        opacity: .7;
        @media (max-width: 35em) {
            display: none;
        }
    }
}

.footer {
    color: white;
    font-size: 1em;
    text-align: center;

    @media (max-width: 48em) {
      overflow-x: hidden;
    }

    .spacer {
        width: 100%;
        height: 70px;
        clip-path: polygon(100% 0, 0% 100%, 100% 110%);
        /* background-color: $gradient-color-dark; */
        background-image:linear-gradient($gradient-color-mid, $gradient-color-dark)

    }
    .content {
        background-color: $gradient-color-dark;
        width: 100%;
        justify-content: center;
        font-family: 'League Spartan', Futura, sans-serif;
        font-weight: 200;
        font-size: 1em;

        .wrapper {
            display: flex;
            flex-direction: row;
            /* max-width: min($content-width, calc(100vw - 2 * $menu-margin));*/
            max-width: $content-width;
            margin: auto;
            box-sizing: border-box;
            padding: 2rem 0;
            gap: 6em;
            transition: all .5s;

            @media (max-width : 75em) {
                margin: 0 1.6rem;
                gap: calc(100vw / 50);
            }

            @media (max-width : 46em) {
              gap: 2em;
            }

            @media (max-width : 40em) {
                margin: 0 .6rem;
                gap: 2em;
                flex-wrap: wrap;
                justify-content: space-around;
                /* padding: 2rem 0 16rem; */
            }

            h3 {
                text-align: left;
            }

            a {
                color: white;
            }

            ul {
                list-style-type: none;
                margin-block-start: 0;
                margin-block-end: 0;
                line-height: 1.6;
                text-align: left;
                padding-inline-start: .6rem;
                line-height: 1.8;

                li {
                    width: max-content;
                }

                @media (max-width : 40em) {
                    width: 100%;
                }
            }

            .menu-top {
                display: flex;
            }

            .menu-wrapper,
            .link-wrapper,
            .contact-wrapper {
                display: flex;
                flex-direction: column;

                @media (max-width : 40em) {
                    flex-grow: 1;
                }
            }

            .link-wrapper .footer-link:has(a .hidden) {
              display: none;
            }

            .contact-wrapper {
                text-align: right;

                .footer-title,
                .footer-contact,
                .footer-privacy {
                    text-align: inherit;
                    position: relative;
                }

                .footer-title {
                    margin-top: auto;
                    margin-bottom: 0;
                    position: relative;

                    @media (max-width : 35em) {
                      padding-top: 0.8rem;
                    }

                    /*
                    &:after {
                        position: absolute;
                        content: '';
                        background-image: url('/images/no-emoji.svg');
                        background-size: contain;
                        filter: #{"invert()"};
                        height: 1em;
                        width: 1em;
                        right: -2em;
                        bottom: 0;
                        mix-blend-mode: saturation;
                        @media (max-width: 35em) {
                            display: none;
                        }
                    }
                    */
                }

                .contact-link {
                    text-align: inherit;
                    margin-block-start: .4em;
                    margin-block-end: .4em;
                    font-weight: 500;
                }

                .footer-icon {
                    height: 1em;
                    width: 1em;
                    filter: #{"invert()"};
                    vertical-align: unset;
                    margin-right: .6em;
                    position: absolute;
                    left: -1.4em;
                    bottom: 0em;

                    @media (max-width : 46em) {
                      left: 1em;
                    }

                    @media (max-width: 40em) {
                        display: none;
                    }

                }

                @media (max-width : 40em) {
                    flex-grow: 1;
                }

                /*
                @media (max-width : 35em) {
                    text-align: left;
                }
                */
            }

            .footer-placeholder {
                display: flex;
                flex-grow: 1;
                @media (max-width : 35em) {
                    display: none;
                }
            }
        }
    }
    .copyright {
        font-family: 'League Spartan', Futura, sans-serif;
        width: 100%;
        background-color: #24150e;
        padding: .6rem 0;
        position: relative;
        font-size: small;

        .icons-right {
            position: absolute;
            display: inline-block;
            right: 3em;
            height: 1em;
        }
        .icon {
            height: 1.4em;
            vertical-align: bottom;
        }
        a {
            color: white;
        }
    }
}

.insta-inline:after {
    display: inline-block;
    width: 1em;
    height: 1em;
    line-height: 2em;
    content: url($insta-dark);
    vertical-align: sub;
}

a.anchor {
    display: none !important;
}

.iiif {
    margin-top: 3em;
    width: 100%;
    position: relative;
    padding-bottom: 100%;

    .description {
        display: none;
        font-size: 2em;
        font-weight: 200;
        padding-bottom: 1.6em;
    }

    .viewer {
        width: 100%;
        height: 100%;
        display: block;
        margin: auto;
        position: absolute;
      }

    a {
        &:before {
            content: '' !important;
        }
        &:after {
            content: '' !important;
        }
    }

    .share {
        display: none;
    }
}

.quote {
    margin-top: -2.4em;

    &:before,
    .quote-body:after {
        color: $box-border;
        font-size: 4em;
    }

    &:before {
        content: '„' !important;
        margin-inline-start: 0.2em
    }

    blockquote {
        font-weight: 200;
        font-style: italic;
        margin-block-start: 0em;
        margin-block-end: 0em;

        p:last-of-type {
            margin-block-end: 0em;
        }
    }

    .quote-body {
        &:after {
            content: '“' !important;
            display: block;
            width: 100%;
            text-align: right;
            margin-bottom: -.4em;
        }
    }

    .quote-from {
        text-align: right;

        a {
            &:before {
                content: '' !important;
            }
            &:after {
                content: '' !important;
            }
            &:hover {
                text-decoration: none !important;
            }
        }

    }
}

a:has(.post-image) {
  &::before,
  &::after {
    display: none;
  }
}

.section-content-body {
  /* See https://stackoverflow.com/a/73447722 */
  details {
    padding: 10px;

    &[open] > summary:before {
      transform: rotate(90deg);
    }

    &[open] summary {
      margin-bottom: 10px;
    }

    summary {
      transition: margin 150ms ease-out;

      h3 {
        margin: unset;
        display: inline-block;
      }
    }

  }
}

.small-font-right {
  font-size: small;
  text-align: right;
}

.section-content-subsection {
  .subsection-more-link {

    &.more-posts {
      font-size: larger;
      margin-top: .6rem;
    }
  }
}

.section-collections.dir-collectionsdonations.meta {
  .section-head .parallax-bg {
    .section-head-title {
      font-size: 6em;
    }
  }
}
