@import "fonts/league-spartan";
@import "fonts/poiret-one";
@import "fonts/josefin-sans";
@import "icons";

$content-width: 64em;
$gradient-color-light: #b2444d;
$gradient-color-mid: #a41416;
$gradient-color-dark:  #701611;

$text-underline-color: #ff073a;

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4 {
    font-family: 'Josefin Sans';
}

p {
    font-family: 'League Spartan', Futura, sans-serif;
}

a,
a:active,
a:focus,
a:hover,
a:visited {
    text-decoration: none;
    color: black;
}

.header {
    font-family: 'League Spartan', Futura, sans-serif;
    background: white;

    &.sticky-top {
        transition: all .5s;
        z-index: 100;
    }

    menu-close {
        display: none;

        @media (max-width : 25em) {
            height: 1em;

        }
    }

    @media (max-width : 30em) {
        height: 100%;
        left: 0;
        overflow-y: auto;
        position: fixed;
        z-index: 200;
        top: 0;
        bottom: 0;
        width: 275px;
        background: rgba(0, 0, 0, 0.9);
        padding: 0.75em 1.25em;
        display: none;

        &.active {
            transform: translateX(0px);
            transition: 0.5s;
            display: block;
        }
    }

    .wrapper {
        margin: auto;
        align-items: center;
        justify-content: center;
        height: 3em;
        display: flex;
        max-width: $content-width;
        width: calc(100% - 2 * 1rem);
        padding: 0 1rem;
        @media (max-width : 30em) {
            padding: unset;
        }
    }

    .home-link {

    }

    .header-title {
        margin-block-start: 0.4em;
        margin-block-end: 0.4em;
        display: inline-block;
        font-weight: 600;
        font-size: 3em;
        height: 100%;
        margin: auto;
        display: none;
    }

    .menu {
        width:100%;
        padding-top: .2rem;

        .menu-icon {
            display: none;
            @media (max-width : 30em) {
                content: url($bars-light);
                display: inline-block;
                vertical-align: bottom;
                margin-top: 1rem;
                margin-right: 0.5em;
                height: 2.4em;
                width: 2.4em;
            }
        }

        .navigation-list {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            gap: 1.4em;

            .navigation-item {
                height: 100%;
                font-size: 1.6em;
                font-weight: 300;
                display: inline-flex;
                vertical-align: middle;

                &.lang {
                    flex-grow: 1;
                    display: flex;
                    justify-content: flex-end;
                    @media (max-width : 25em) {
                        display: block;
                    }
                }
                @media (max-width : 30em) {
                     display: block;
                     text-align: center;
                     margin: 1rem 0;
                     a {
                         filter: #{"invert()"};
                     }
                }
            }

            @media (max-width : 30em) {
                margin-top: 1em;
                 display: unset;
                 color: white;
            }

        }
    }

    .header-spacer {
        width: 100%;
        height: .6rem;
        background-image:linear-gradient($gradient-color-light, transparent);
    }

    &.sticky-top .backToTop {
        opacity:1;
    }

    .backToTop {
        transition: opacity, transform .6s;
        opacity: 0;
        content: url($up-light);
        height: 1.8em;
        width: 1.8em;
        cursor: pointer;
        position: fixed;
        border-radius: .2rem;
        bottom: 4em;
        right: 4em;
        background-color: rgba(0, 0, 0, .6);
        padding: .6em;

        @media (max-width : 30em) {
            display: none;
        }
    }

    .backToTop:hover {
        transform: scale(1.1);
    }


}



.navigation-list {
    display: inline-block;
    padding-inline-start: 0;
    list-style-type: none;
    margin-block-start: 0;
    margin-block-end: 0;
}

#menu-toggle {
    display: none;
}

.img-background {
    background-image: radial-gradient(closest-side, transparent 80%, $gradient-color-mid), url('../images/bg.svg'), linear-gradient($gradient-color-mid 274px, transparent);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
    /* margin: auto; */
    /*            height: calc(273px + 75px);*/
    height: 273px;
    width: 320px;
    position: relative;
    filter: drop-shadow(0px 0px 23px $gradient-color-mid) drop-shadow(0px 0px 23px $gradient-color-mid) drop-shadow(0px 0px 23px $gradient-color-mid) drop-shadow(0px 0px 23px $gradient-color-mid);
    border-radius: 50%;

    @media (max-width : 25em) {
        background-image: radial-gradient(closest-side, transparent 80%, $gradient-color-mid);
        width: calc(320px * .75);

    }

    .img-wrapper {
        width: 190px;
        height: auto;
        position: absolute;
        top: 43px;
        left: 68px;
        background-image: linear-gradient(transparent 200px, $gradient-color-mid);
        border-radius: 50% 50% 50% 50%/ 90px 90px 90px 90px;

        @media (max-width : 25em) {
            width: calc(190px * .75);
            top: calc(43px * .75);
            left: calc(68px * .75);
        }

        .me {
            width: 190px;
            /* his is the value if coloured filter: brightness(0.77); */
            filter: brightness(0.8);
            -moz-filter: brightness(1.1);
            display: block;
            border-radius: 50% 50% 50% 50%/ 90px 90px 90px 90px;

            @media (max-width : 25em) {
                width: calc(190px * .75);
            }

            &:hover {
                /* mix-blend-mode: luminosity; */
                filter: brightness(1.1);
            }
        }
    }
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-30px);
    }
    60% {
        transform: translateY(-15px);
    }
}

.hero {
    filter: #{"grayscale()"};
    background-image: linear-gradient(135deg,$gradient-color-dark, $gradient-color-mid, $gradient-color-light);
    box-shadow: inset -1px -11px 21px -15px rgba(0, 0, 0, .75);
    /*
         background-image: linear-gradient(45deg,$gradient-color-dark, transparent), linear-gradient($gradient-color-light, transparent), linear-gradient(135deg,  transparent, #923f35);
         background-color: $gradient-color-mid;
*/
    background-size: cover;
    height: calc(100vh - 3em);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    @media (max-width : 75em) {
        align-items: unset;
        min-height: 32em;
    }
    @media (max-width : 30em) {
        min-height: 38em;
        height: calc(100vh);
    }

    .wrapper {
        height: min-content;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        max-width: $content-width;

        @media (max-width : 75em) {
            align-items: unset;
            margin-top: 2em;
        }
        @media (max-width : 25em) {
            margin-top: unset;
        }

        .hero-caption {
            font-family: 'League Spartan', Futura, sans-serif;
            font-weight: 700;
            text-align: center;
            /* margin: 1em auto; */
            padding-left: 5em;
            color: white;
            text-shadow: 10px 10px 0 $gradient-color-light;
            @media (max-width : 75em) {
                flex-basis: 100%;
                margin-top: 6.6em;
                padding-left: 0;

            }

            @media (max-width : 25em) {
                margin-top: 3em;
            }

            .name {
                font-size: 5em;
            }

            .title {
                font-size: 2em;
                text-align: right;
                @media (max-width : 75em) {
                    text-align: center;
                }
            }
        }
    }
    .bouncer {
        content: url($down-light);
        height: 2em;
        width: 2em;
        /* display: block; */
        display:flex;
        animation: bounce 2s infinite;
        box-sizing:border-box;
        flex-basis: 100%;
        cursor: pointer;
        position: absolute;
        bottom: 1em;
        left: 50vw;
    }
}

.read-more {
    background-image: linear-gradient(100deg ,$gradient-color-light, $gradient-color-dark);
    color: #fff;
    display: inline-block;
    vertical-align: middle;
    border-radius: 3px;
}

.content-container {

    max-width: $content-width;
    margin: 3em auto;
    margin-top: calc(3em + 1.4rem);

    @media (max-width : 75em) {
        margin: 0 1.6rem;
    }

    @media (max-width : 25em) {
        margin: 0 .6rem;
    }

    .home-section {
        .title {
            border-bottom: 3px solid #ff3131;
            box-shadow: inset 0 -4px 0 #ff3131;
        }

    }

    .section-head {
        .section-head-title {
            font-size: 8em;
            font-weight: 800;
            background-color: white;
            color: black;
            mix-blend-mode: screen;
            padding-top: .6rem;
        }

        .parallax-bg {
            background-image: url('/images/red-lether.jpg');
            background-attachment: fixed;
            background-position: center;
            background-repeat: repeat;
            background-size: 10%;
        }

        .section-head-content {

        }

    }

    .section-content {
        background-color: white;
        display: flex;
        flex-direction: column;

        &.even {
             text-align: right;
             justify-content: flex-end;
             align-items: flex-end;
        }
        &.odd {
            text-align: left;
            justify-content: flex-start;
            align-items: flex-start;
        }

        .section-content-title {
            display: flex;
            justify-content: flex-end;
            width: min-content;
            box-shadow: inset 0 -15px 0 $text-underline-color;
        }

        .section-content-body {
            flex-basis: 100%;
        }

    }

    .section-menu {
        /*
        position: fixed;
        left: -10em;
        width: 8em;
        */
        display: none;

    }
}

.link-image {
    margin-right: .6rem;
    vertical-align: middle;
    height: 1.2em;
    width: 1.2em;
    display: inline-block;
}

.github {
    content: url($github-light);
}

.librarything {
    content: url($librarything-light);
}

.projektemacher {
    filter: #{"invert()"};
    border-radius: 50%;
}

/* This is a .section-container only used on the start page */
.home-container {
    .section-head {
        .section-head-title {
            font-size: 8em;
            font-weight: 800;
            background-color: white;
            color: black;
            mix-blend-mode: unset;
            padding-top: unset;
        }

        .parallax-bg {
            background-image: unset;

        }
    }
}

.footer {
    color: white;
    font-size: 1em;
    text-align: center;

    .spacer {
        width: 100%;
        height: 70px;
        clip-path: polygon(100% 0, 0% 100%, 100% 110%);
        /* background-color: $gradient-color-dark; */
        background-image:linear-gradient($gradient-color-mid, $gradient-color-dark)

    }
    .content {
        background-color: $gradient-color-dark;
        width: 100%;
        justify-content: center;
        font-family: 'League Spartan', Futura, sans-serif;
        font-weight: 200;
        font-size: 1em;

        .wrapper {
            display: flex;
            flex-direction: row;
            max-width: $content-width;
            margin: auto;
            box-sizing: border-box;
            padding: 2rem 0;
            gap: 6em;

            @media (max-width : 75em) {
                margin: 0 1.6rem;
            }
            @media (max-width : 35em) {
                margin: 0 .6rem;
                gap: 2em;
                flex-wrap: wrap;
                justify-content: space-around;
            }

            h3 {
                text-align: left;
            }

            ul {
                list-style-type: none;
                margin-block-start: 0;
                margin-block-end: 0;
                line-height: 1.6;
                text-align: left;
                padding-inline-start: .6rem;
                line-height: 1.8;

                li {
                    width: max-content;

                    a {
                        color: white;
                    }
                }
            }

            .menu-top {
                display: flex;
            }

            .menu-wrapper {
                display: flex;
                flex-direction: column;

            }

            .link-wrapper {
                display: flex;
                flex-direction: column;
            }

            .contact-wrapper {
                text-align: right;
                @media (max-width : 35em) {
                    text-align: left;
                }
            }

            .footer-placeholder {
                display: flex;
                flex-grow: 1;
                @media (max-width : 35em) {
                    display: none;
                }
            }
        }
    }
    .copyright {
        font-family: 'League Spartan', Futura, sans-serif;
        width: 100%;
        background-color: #24150e;
        padding: .6rem 0;
        position: relative;
        font-size: small;

        .icons-right {
            position: absolute;
            display: inline-block;
            right: 3em;
            height: 1em;
        }
        .icon {
            height: 1.4em;
            vertical-align: bottom;
        }
        a {
            color: white;
        }
    }
}
