@use 'sass:color';

@mixin light-text {
  font-weight: 200;
  font-size: smaller;
  color: color.adjust($text-color, $lightness: 15%);
}

@mixin post-description {
  .post-description {
    @include light-text;
    width: 90%;
    margin-bottom: 1.4rem;
    font-style: italic;

    @media (max-width: 36em) {
      width: unset;
    }
  }
}

.section-post.blog .main .content .post-body {
  ul {
    padding-inline-start: 1.4em;

    li:before {
      padding-right: .4em;
      margin-left: -1.4em;
      line-height: 1;
    }
  }
}

.content-container {
  &.blog {
    .section-head.paginator {
      &:hover .paginator-stats {
        opacity: .5;
      }

      .paginator-stats {
        opacity: 0;
        transition: 500ms;
        text-align: end;
        margin-top: -1em;
        transform: translateY(-1.5em);
        font-weight: 100;
        font-style: italic;
      }
    }

    figure img {
      width:100%;
      height:100%;
      object-fit: contain;
    }

    .post-preview {
      img {
        border-radius: .6rem;
        /* box-shadow: 4px 4px 4px lightgray; */
      }
    }

    @include post-description();

    .preview-black {
      box-shadow: 0px 0px 15px 10px #000000;
      filter: blur(0px);
      transition: all 1s linear;

      &:hover {
        transition: all 3s linear;
        filter: blur(5px);
      }
    }

    .posts {
      .year-heading {
        margin-block-start: unset;
        margin-block-end: unset;
        font-size: 4em;
        font-weight: 200;
        font-style: italic;
        opacity: .75;
        max-width: fit-content;

        @media (min-width: 75em) {
          margin: 0 -1em;
        }

        &:hover + .year-count {
          opacity: .5;
        }
      }

      .year-count {
        max-width: fit-content;
        opacity: 0;
        transition: 500ms;
        text-align: end;
        transform: translateX(200%);
        font-weight: 100;
        font-style: italic;
      }

      .post {
        &.even {
          .post-description {
            margin-left: 1rem;
          }
        }

        &.odd {
          .post-description {
            margin-right: 1rem;
            align-self: flex-end;
          }
        }
      }
    }
  }
}

.section-post {
  .content-container.single {
    .post-body {
      img {
        max-width: 100%;
      }

      .iiif.iiif-image {
        margin-top: unset;
        margin-bottom: 3em;
        border-radius: unset;
      }

      figure {

        &.center {
          display: flex;
          justify-content: center;
        }

        img {
          border-radius: .6rem;
          /* box-shadow: 3px 3px 3px lightgray; */
        }

        figcaption {
          text-align: end;
          font-style: italic;
        }

      }

      .christmas-card {
        width: 70%;
        margin: 1rem auto 2rem auto;

        img {
          border: 1px solid;
          border-radius: unset;
        }

        @media (max-width : 36em) {
          width: 100%;
        }
      }

      ul li figure {
          display: inline-block;
          margin-block-start: 0;
          margin-block-end: 0;
          margin-inline-start: 0;
          margin-inline-end: 0;

          img {
              vertical-align: middle;
              margin-right: 1em;
          }
      }

      .img-center {
        img {
          display: block;
          margin: 0 auto 1em;
        }

      }

      details {
        margin-bottom: 1em;
      }

      .reference {
        margin-left: 1.4rem;
        font-style: italic;
        font-weight: 500;


        .worldcat {
          &:before {
            content: '';
          }

          &:after {
            display: inline-block;
            width: 1em;
            content: url($link-light);

          }

          &:hover {
            text-decoration: unset;
          }


        }
      }

      p:has(.iiif-link) {
        text-align: end;

        .iiif-link {
          @include light-text;
          font-size: smaller;

          &:before {
            background-image: url(/images/iiif-logo.svg);
            background-repeat: no-repeat;
            background-size: contain;
            content: "IIIF";
            color: transparent;
            vertical-align: middle;
            margin-right: .8rem;
          }

        }
      }

      .highlight {

        pre {

          border-radius: 1rem;
          background-color: $box-background;
          box-shadow: 0 0px 2px $box-border;
        }
      }

      .cta {
        font-size: larger;
        font-weight: bold;
      }

    }
  }

  .post .post-body {
    .citation {
      margin-left: 5rem;

      @media (max-width : 36em) {
        margin-left: 2.4rem;
      }
    }
  }
}

.subsection-list-container {
  .subsection-list-heading {

  }

  .subsection-list {
    li {
      a {

      }
    }
  }
}

._hidden-notes {
  display: none;

  * {
    display: none;
  }
}

.years {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  .years-heading {
    flex-grow: 1;
    text-align: center;
  }

  .year {
    font-size: 1.6em;
  }

}

.blog .main .post .content {
  .post-description {
    text-align: center;
    font-weight: 300;
    margin-top: -1rem;
    font-style: italic;
  }
}
