.content-container {
  &.blog {
    figure img {
      width:100%;
      height:100%;
      object-fit: contain;
    }

    .post-preview {
      img {
        border-radius: .4rem;
      }
    }

    .preview-black {
      box-shadow: 0px 0px 15px 10px #000000;
      filter: blur(0px);
      transition: all 1s linear;

      &:hover {
        transition: all 3s linear;
        filter: blur(5px);
      }
    }
  }
}

.section-post {
  .content-container.single {
    .post-body {
      img {
        max-width: 100%;
      }

      .christmas-card {
        width: 70%;
        margin: 1rem auto 2rem auto;

        figcaption {
          text-align: end;
          font-style: italic;
        }

        img {
          border: 1px solid;
        }

        @media (max-width : 36em) {
          width: 100%;
        }
      }
    }
  }

  .post .post-body {
    .citation {
      margin-left: 5rem;

      @media (max-width : 36em) {
        margin-left: 2.4rem;
      }
    }
  }
}

.subsection-list-container {
  .subsection-list-heading {

  }

  .subsection-list {
    li {
      a {

      }
    }
  }
}
