$code-bg-color: rgba(0, 0, 0, .1);

code {
  background-color: $code-bg-color;
  padding: 0 .2em;
}

pre {
  width: 100%;

  code {
    padding: 1em;
    border-radius: .4em;
    display: block;
    overflow-x: auto;
  }
}

.section-post .content-container.single .post-body {
  .highlight .chroma:has(code) {
    background-color: $code-bg-color;
  }
}