.footnotes {
  font-size: small;

  hr {
    border: 2px solid $box-border !important;
  }

  li p {
    margin-block-end: unset;
    margin-bottom: .4rem;
  }
}

.footnote-ref,
.footnotes .footnote-backref {
  &:before,
  &:after {
    content: unset !important;
  }
}
