.gallery {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  /*align-items: flex-start;*/
  justify-content: center;
  gap: 2vw;
  background-color: $box-background;
  padding: 1.4em 1.4em 1em 1.4em;
  /*padding-left: 2.4em;*/
  border-radius: 1rem;
  box-shadow: 0 0px 2px $box-border;
  flex-wrap: wrap;

  @media (max-width: 35em) {
    flex-direction: column;
    gap: 2vwh;
    padding: .6em;
  }

  a {
    overflow: hidden;
    width: inherit;
  }

  img {
    border-radius: .4rem;
  }

  .gallery-image {
    .gallery-preview {
      max-width: 100%;
    }

    &.caption {
      display: flex;
      flex-direction: column;
      align-items: center;

      &:hover {
        text-decoration: none !important;
      }
    }

    .hidden-caption-content {
      max-width: 250px;
      min-height: 4rem;
      text-align: center;
    }
  }
}

.pswp__custom-caption {
  background: $box-background;
  box-shadow: 0 0px 2px $box-border;
  align-content: center;
  text-align: center;
  width: calc(100% - 32px);
  max-width: 400px;
  padding: .4rem;
  border-radius: .1rem;
  position: absolute;
  left: 50%;
  bottom: 1rem;
  font-size: 1.2em;
  transform: translateX(-50%);
}
