$background-color: white;
$foreground-color: black;
$accents-color: #d3d3d3;

@mixin halftone ($radius: 0.25rem, $cirle-color: black, $background-color: transparent, $background-size: 1.3rem) {
  background-image: radial-gradient(
      circle at center,
      $cirle-color $radius,
      $background-color 0
    ), radial-gradient(circle at center, $cirle-color $radius, $background-color 0);
  background-size: $background-size $background-size;
  background-position: 0 0, calc($background-size / 2) calc($background-size / 2);
}

body.never {
  .page-wrapper {
    background: $background-color;

    .main {

      .header {
        .header-spacer {
          background-image: linear-gradient(#b2444d, $background-color);
        }
      }

      .content-container.single {
        color: $foreground-color;
        font-weight: 500;

        .post  {
          .post-title {
            box-shadow: inset 0 -15px $accents-color;
            font-size: 3.2em;
            color: transparent;
            background-clip: text;
            @include halftone($radius: 0.1rem, $cirle-color: black, $background-color: transparent, $background-size: 0.35rem);

            &:hover {
              transition: all 750ms ease-out;
              background-size: .375rem .375rem;
              background-position: 0 0, calc(.375rem / 2) calc(.375rem / 2);
            }

          }

          .post-body {
            font-size: 1.4em;

            img {
              background: white;
            }

            .gallery {
              background-color: transparent;
              box-shadow: 0 0 2px $accents-color;
            }

            ul li::before {
              color: $accents-color;
            }

            .renderer-canvas canvas {
              /*background: $background-color;*/
              background: black;
              border-radius: .8rem;
            }

          }

          a {
            color: $foreground-color;

            &::before,
            &::after {
              color: $accents-color;
            }

            &:hover {

              text-decoration-color: $accents-color;
            }
          }
        }
      }
    }

    .footer {
      .copyright a {
        color: $background-color;
      }
    }
  }
}
