.pagination {
  max-width: 64rem;
  margin: 3em auto;
  font-family: "League Spartan", Futura, sans-serif;
  font-size: 1.8em;
  font-weight: 300;


  .pagination-links {
    display: grid;
    flex-direction: row;

    .pagination-next {
      justify-self: flex-end;

    }

    .pagination-prev {
      justify-self: flex-start;
    }

  }


}
