/* @media print {*/
body.print {
  .content-container {
    max-width: unset;
    margin: unset;

    .post .post-title {
      width: 100%;
    }

    .iiif .viewer {
      max-width: 100%;

      .ol-control {
        display: none;
      }
    }

  }

  /*
  .meta .tags {
    &:before {


  }
  */

  .aframe-3d-model {
    height: 300px;
    width: 600px;
  }

  a-scene {
    width: 100%;
    height: 300px
  }  

}
