/* @media print {*/
body.print {
  .content-container {
    max-width: unset;
    margin: unset;

    .post .post-title {
      width: 100%;
    }

    .iiif .viewer {
      max-width: 100%;

      .ol-control {
        display: none;
      }
    }

  }

  /*
  .meta .tags {
    &:before {


  }
  */
}
