@use "functions/color" as *;

$color-dark: #333 !default;
$color-light: #d3d3d3 !default;



$wikidata: "data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8' standalone='no'%3F%3E%3Csvg xmlns:svg='http://www.w3.org/2000/svg' xmlns='http://www.w3.org/2000/svg' version='1.2' viewBox='0 0 810 500'%3E%3Cpath d='M 0,0 h 30 v 500 h -30 z M 60,0 h 90 v 500 h -90 z M 180,0 h 90 v 500 h -90 z' style='fill:%23900'/%3E%3Cpath d='M 300,0 h 30 v 500 h -30 z M 360,0 h 30 v 500 h -30 z M 720,0 h 30 v 500 h -30 z M 780,0 h 30 v 500 h -30 z' style='fill:%23396'/%3E%3Cpath d='M 420,0 h 90 v 500 h -90 z M 540,0 h 30 v 500 h -30 z M 600,0 h 90 v 500 h -90 z' style='fill:%23069'/%3E%3C/svg%3E%0A";
