/*$tag-cloud-height: 24em;*/
$tag-cloud-height: clamp(24em, 45vh, 48em);

.tag-cloud-container {
  position: relative;

  .tag-cloud-control {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: .6em;

    .tag-cloud-activate {
      line-height: 1.6em;
      font-family: 'League Spartan', Futura, sans-serif;
      cursor: pointer;
      font-size: 1.2em;
      margin-top: .8rem;
      margin-bottom: 1rem;

      &:before {
        height: 2rem;
        width: 2rem;
        content: ' ';
        display: inline-block;
        margin-right: 1rem;
        vertical-align: middle;

        background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8' standalone='no'%3F%3E%3Csvg version='1.1' viewBox='0 0 96 96' x='0px' y='0px' id='svg3' xmlns='http://www.w3.org/2000/svg' xmlns:svg='http://www.w3.org/2000/svg'%3E%3Cdefs id='defs3'/%3E%3Cpath id='path3' d='m 54.007812,7.0117188 c -14.991985,0 -28.10866,9.7879202 -32.472656,24.0039062 C 9.6151682,31.267625 0,41.032199 0,52.992188 c 0,12.123987 9.8719187,21.981497 22.003906,21.984374 18.666723,0.0083 37.333242,0.0078 56,0.0078 C 87.927896,74.984375 96,66.91599 96,57 96,51.032006 92.952745,45.431606 87.96875,42.099609 87.98875,41.73961 88,41.375718 88,41.011719 88,22.263737 72.751794,7.0117188 54.007812,7.0117188 Z m 0,4.0078122 c 16.539984,0 29.992188,13.460017 29.992188,30 0,0.592 -0.03961,1.16772 -0.09961,2.011719 -0.06,0.767999 0.336,1.50086 1,1.880859 C 89.344386,47.448107 92,51.975911 92,57.003906 c 0,7.707993 -6.272104,13.97363 -13.996094,13.980469 -18.671882,0.03548 -37.343744,0.01 -56.015625,-0.0078 -9.919985,-0.0098 -18.003906,-8.068384 -18.003906,-17.984374 0,-9.887991 8.044526,-17.94336 18.228516,-17.94336 h 0.07422 c 0.212,0.036 0.412626,0.05831 0.640625,0.07031 0.947999,0.036 1.789204,-0.583908 2.033204,-1.503907 3.387996,-13.307986 15.326888,-22.595703 29.046874,-22.595703 z'/%3E%3Cpath id='rect5' d='m 56.282056,51.635898 h 18.982071 a 3.8210417,3.8210417 45 0 1 3.821042,3.821042 3.8022039,3.8022039 135.28458 0 1 -3.821042,3.783272 H 56.282056 a 3.8210417,3.8210417 45 0 1 -3.821042,-3.821042 3.8022039,3.8022039 135.28458 0 1 3.821042,-3.783272 z' transform='translate(-12.553509,6.1226632)'/%3E%3Cpath id='rect5-7' d='m 56.282056,51.635898 h 18.982071 a 3.8210417,3.8210417 45 0 1 3.821042,3.821042 3.8022039,3.8022039 135.28458 0 1 -3.821042,3.783272 H 56.282056 a 3.8210417,3.8210417 45 0 1 -3.821042,-3.821042 3.8022039,3.8022039 135.28458 0 1 3.821042,-3.783272 z' transform='translate(-42.619401,-4.2179532)'/%3E%3Cpath id='rect5-8' d='m 56.418656,52.827147 h 18.979689 a 3.8222329,3.8222329 45 0 1 3.822233,3.822233 3.80221,3.80221 135.30253 0 1 -3.822233,3.782081 H 56.418656 a 3.8222329,3.8222329 45 0 1 -3.822233,-3.822233 3.80221,3.80221 135.30253 0 1 3.822233,-3.782081 z' transform='matrix(1.3508445,0,0,1,-28.575822,-22.529908)'/%3E%3Crect id='rect18-8' width='15.324914' height='6.4635692' x='42.645042' y='17.164795' rx='3.0299747' ry='3.0299747'/%3E%3Crect id='rect18-8-4' width='15.324914' height='6.4635692' x='68.149231' y='47.988316' rx='3.0299747' ry='3.0299747'/%3E%3Crect id='rect18-8-4-6' width='15.324914' height='6.4635692' x='44.645042' y='43.988316' rx='3.0299747' ry='3.0299747'/%3E%3C/svg%3E");
      }
    }
  }

  .tag-cloud {
    width: 100%;
    height: $tag-cloud-height;
    transition: all 350ms ease-out;
    opacity: 0;
    transform-origin: top center;

    &.hidden {
      transform: scaleY(0);
      display: none;
      position: unset;
    }

    &.background {
      position: absolute !important;
      transform: scaleY(1);
      z-index: -10;
    }

    &.show {
      animation: show 0.5s forwards;
    }

    &.hide {
      animation: hide 0.5s forwards;
    }

    a {
      color:inherit;

      &:after,
      &:before {
        content: '' !important;
      }
    }

    a:before,
    a:after {
      content: unset;
      color: unset;
      margin-right: unset;
    }

    a:hover {
      text-decoration: unset !important;
      text-decoration-color: unset;
    }

    &.active {
      transition: all 350ms ease-in;
      transform: scaleY(1);
    }
  }

  @keyframes hide {
    0% {
      transform: scaleY(1);
      opacity: 1;
      display: block;
      height: $tag-cloud-height;
    }

    100% {
      transform: scaleY(0);
      opacity: 0;
      display: none;
      height: 0;
    }
  }

  @keyframes show {
    0% {
      transform: scaleY(0);
      opacity: 0;
      display: block;
      height: 0;
    }

    100% {
      transform: scaleY(1);
      opacity: 1;
      height: $tag-cloud-height;
    }
  }

}
