body.section-tagline {
  .content-container {
    .section-head {
      margin-bottom: 1.8em;
    }

    .subsection-list-container {
      font-size: 1.6rem;

      .subsection-list-heading {
        font-weight: bold;
        font-size: 1.8rem;
      }

      .subsection-list a {
        font-variant: small-caps;
      }
    }

    .section-head-content {
      margin-top: 2em;
      text-align: unset;
    }

    .content {
      .post-body {
        font-size: 1.6rem;

        h2, h3 {
          margin-block-start: unset;
          margin-block-end: unset;
        }
      }
    }
  }
}
