<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}">

  <head>
    <meta charset="utf-8">
    <title>{{- block "title" . }}{{ end -}}</title>
    {{ partial "html/head/meta.html" . }}
    {{ partialCached "html/head/theme.html" . }}

    {{- if and (eq .Kind "term") (eq .Content "") -}}
        <meta name="projektemacher:term" content="empty">
    {{- end -}}
    {{- if .Params.notes -}}
        <meta name="projektemacher:notes" content="{{ .Params.notes }}">
    {{- end -}}

    {{- partial "html/head/style.html" (dict "context" . "css" "css/style.css") -}}
    {{- partial "html/head/script.html" (dict "context" . "js" (partial "html/head/iiif-js.html" .)) -}}
    {{- partial "html/head/page-scripts.html" . -}}

    <link rel="icon" type="image/png" href="{{ .Site.Params.favicon_32 | default "/images/favicon-32.png" | absURL }}" sizes="32x32">
    <link rel="icon" type="image/png" href="{{ .Site.Params.favicon_16 | default "/images/favicon-16.png" | absURL }}" sizes="16x16">
    {{ if and .Site.Params.faviconSVG (ne .Site.Params.faviconsvg "") }}
        <link rel="icon" type="image/svg+xml" href="{{ .Site.Params.favicon_svg | safeHTML }}">
    {{ end }}

    <link rel="shortcut icon" href="{{ "images/favicon.ico" | absURL }}" type="image/x-icon">
    <link rel="icon" href="{{ "img/favicon.ico" | absURL }}" type="image/x-icon">

    {{ range .AlternativeOutputFormats -}}
      {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
    {{ end -}}

    {{- if .IsHome -}}
      {{- partial "schema.org/person.html" . -}}
    {{ end -}}

  </head>

    {{- $class := "" }}
    {{- with .Page.File -}}
      {{- if or (hasPrefix .Path "about") (hasPrefix .Path "/about") -}}
        {{- $class = "about" -}}
      {{- else -}}
        {{- $class = printf "section-%s dir-%s" .Section (replace .Dir "/" "" ) -}}
      {{- end -}}
    {{- end -}}

    {{- if .Params.layout -}}
      {{- $class = printf "%s %s" $class .Params.layout -}}
    {{- end -}}

    {{- if .Params.class -}}
      {{- $class = printf "%s %s" $class .Params.class -}}
    {{- end -}}

    {{- if .Params.metaPage -}}
      {{- $class = printf "%s %s" $class "meta" -}}
    {{- end -}}

    {{- $outputFormat := partial "functions/output/current-format.html" . -}}
    {{- if and (ne $outputFormat "") (ne $outputFormat "html")  -}}
      {{- $class = printf "%s %s" $class $outputFormat -}}
    {{- end -}}

    <body class="{{ $class }} {{ if .IsHome }}home{{ end }} ">
      <a name="top"></a>
      <div class="page-wrapper">
        <div class="main">
          {{ block "content" . }}{{ end }}
        </div>
        {{- $footer := "footer.html" -}}
        {{- if and (ne $outputFormat "") (ne $outputFormat "html")  -}}
          {{- $footerTemplate := printf "partials/%s-footer.html" $outputFormat -}}
          {{- if templates.Exists $footerTemplate -}}
            {{- $footer = $footerTemplate -}}
          {{- else -}}
            {{- warnf "Can't find output specific template '%s'" $footerTemplate -}}
          {{- end -}}
        {{- end -}}
        {{- partial $footer . -}}
      </div>
    </body>
 </html>
