{{ define "title" -}}
  {{- if ne .Title "" -}}
    {{- .Title }} · {{ .Site.Title -}}
  {{- else -}}
    {{- .Site.Title -}}
  {{- end -}}
{{- end }}

{{ define "content" }}
  {{- $postSection := "post" -}}
  {{- $render := "tag" -}}
  {{- if isset .Params "render" -}}
    {{- $render = printf "tag-%s" (.Params.render) -}}
  {{- end -}}
  {{- partial "header.html" . -}}
    <div class="content-container blog">
      {{- $pages := where .Site.Pages "Section" "post" -}}
      {{- $mainSite := .Sites.Default -}}
      {{- if ne $mainSite .Site -}}
        {{- $pages = ($pages | lang.Merge (where $mainSite.Pages "Section" $postSection)) -}}
      {{- end -}}

      {{- $paginator := .Paginate (where $pages "Params.displayinlist" "!=" false) -}}

      {{- $postCount := len $pages -}}

      {{- if eq .Paginator.PageNumber 1 -}}
        {{- partial "section-heading.html" . -}}
        {{- partial "tagcloud.html" . -}}
        {{/*
        <!-- <h2 class="years-heading">{{ i18n "yearsHeading" }}</h2> -->
        <div class="years">
          {{- $pages := where .Site.Pages "Section" $postSection -}}
          {{- $pages = where $pages "Kind" "page" -}}
          {{- $firstYear := (index (first 1 $pages) 0).Date.Year -}}
          {{- $lastYear := (index (last 1 $pages) 0).Date.Year -}}
          {{- range ((seq $lastYear $firstYear) | collections.Reverse) -}}
            {{- $year := . -}}
            {{- if len (where $pages ".Date.Year" "==" $year) -}}
              {{- $yearPages := where $pages ".Date.Year" "==" . -}}
              <div class="year-entry"><a href="/post/{{ $year }}" title="{{ $year }}: {{ len $yearPages }} {{ i18n "Post" }}"><span class="year">{{ $year }}</span>: {{ len $yearPages }} {{ i18n "Post" }}</a></div>
            {{- end -}}
          {{- end -}}
        </div>
        */}}
      {{- else -}}
        <div class="section-head paginator">
          <div class="parallax-bg">
            <a href="{{ .RelPermalink }}" title="{{ .Title }}">
              {{- $head := .CurrentSection -}}
              <h1 class="{{ printf "%s-section" (path.Base $head.Permalink) }} section-head-title">{{ .Title }} {{ printf "%d / %d" .Paginator.PageNumber .Paginator.TotalPages }}</h1>
            </a>
          </div>
          {{- $pagerPosition := mul .Paginator.PageNumber .Paginator.PagerSize -}}
          <div class="paginator-stats">{{ sub $pagerPosition .Paginator.PagerSize }} - {{ $pagerPosition }} / {{ $postCount }}</div>
        </div>
      {{- end -}}

      <div class="posts">
        {{- range $i, $page := $paginator.Pages -}}
          {{- .Scratch.Set "class" "odd" -}}
          {{- if modBool $i 2  -}}
            {{- .Scratch.Set "class" "even" -}}
          {{- end -}}

          {{- $currentYear := .Date.Year -}}
          {{- if ne $currentYear time.Now.Year -}}
            {{- $currentYearPosts := (where $pages ".Date.Year" "==" $currentYear).ByDate.Reverse -}}
            {{- $firstYearPost := index $currentYearPosts 0 -}}
            {{- if eq . $firstYearPost -}}
              <h2 class="year-heading">{{ $currentYear }}</h2>
              <span class="year-count">({{ len $currentYearPosts }})</span>
            {{- end -}}
          {{- end -}}
          {{- partial "li.html" . -}}
        {{- end -}}
      </div>
    </div>
    {{ if or $paginator.HasPrev $paginator.HasNext -}}
      <div class="pagination">
        <div class="pagination-links">
          {{- if $paginator.HasPrev -}}
            <a class="pagination-prev" href="{{ $paginator.Prev.URL }}">&#x25c0;&#xfe0e; {{ i18n "next_page" }}</a>
          {{- else -}}
            <div class="pagination-prev"></div>
          {{- end }}
          {{- if $paginator.HasNext -}}
            <a class="pagination-next" href="{{ $paginator.Next.URL }}">{{ i18n "previous_page" }} &#x25b6;&#xfe0e;</a>
          {{- else -}}
            <div class="pagination-next"></div>
          {{- end -}}
        </div>
      </div>
    {{- end }}
{{ end }}
