@use "sass:color";

@use "pkg:@fontsource-utils/scss" as fontsource;
@use "pkg:@fontsource-variable/league-spartan/scss" as leagueSpartanVariabale;

@include fontsource.faces($metadata: leagueSpartanVariabale.$metadata, $weights: 400, $subsets: latin);

/*
@forward "pkg:@fontsource-variable/league-spartan/index.css";
@use "pkg:@fontsource-utils/scss" as fontsource;
*/


.visualization-container {
  position: relative;
  width: 100%; /* Take full width of parent */
  height: 70vh; /* Take 70% of viewport height */
  resize: both;
}
.visualization-container.loading {
  background-color: #f0f0f0; /* Gray background while loading */
}
.graph-container {
  font-family: "League Spartan";
  .link {
    stroke: #999;
    stroke-opacity: 0.6;
  }

  .node-label,
  .link-label {
    font-family: sans-serif;
    font-size: 12px; /* Base size, will be adjusted by zoom */
    pointer-events: none; /* Prevent labels from interfering with mouse events on nodes */
  }

  .node {
    cursor: pointer;
  }

  .node circle {
    stroke: #fff;
    stroke-width: 1.5px;
  }

  .node text {
    font: 10px sans-serif;
    pointer-events: none;
  }

  .link-label {
    font: 8px sans-serif;
    fill: #555;
    pointer-events: none;
  }

  .node-label {
  }

  #tooltip {
    position: absolute;
    text-align: center;
    width: auto;
    height: auto;
    padding: 8px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0;
    border-radius: 8px;
    pointer-events: none; /* Crucial for mouse events on SVG */
    opacity: 0;
  }
}

#loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background: transparent; /* Loader background is now on the container */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 10;
  transition: opacity 0.3s;
}

#loader.hidden {
  display: none;
}

.spinner {
  border: 8px solid #f3f3f3; /* Light grey */
  border-top: 8px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1.5s linear infinite;
  margin-bottom: 20px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
