{{ if not (in .Section "mastodon") -}}
  {{/* check art posts */}}
  {{- if in .Params.tags "Art" -}}
    {{- if not (isset .Params "wikidata") -}}
      {{- warnf "[check-post.html] Missing Wikidata in %s (Section %s)" .RelPermalink .Section -}}
    {{- end -}}
    {{- if not (isset .Params "linkedart") -}}
      {{- warnf "[check-post.html] Missing LinkedArt in %s" .RelPermalink -}}
    {{- end -}}
    {{- if not (in .Params.tags "_ArtCollection") -}}
      {{- warnf "[check-post.html] Art post is not part of the Art collection in %s" .RelPermalink -}}
    {{- end -}}
  {{- end -}}
  {{- if not (isset .Params "wikidata") -}}
    {{- warnf "[check-post.html] Missing Wikidata in %s (Section %s)" .RelPermalink .Section -}}
  {{- end -}}
  {{- $page := . -}}
  {{- if in .Section "post" -}}
    {{- $langs := slice -}}
    {{- range .AllTranslations -}}
      {{- $langs = $langs | append .Language.Name -}}
    {{- end -}}
    {{- if not (and (in $langs "de") (in $langs "en")) -}}
      {{- errorf "[check-post.html] Missing translation for %s" $page.RelPermalink -}}
    {{- end -}}
    {{- $lastmod := "" -}}
    {{- if ne .Date .Params.Lastmod -}}
      {{- with .GitInfo -}}
        {{- if ne .CommitDate $.Params.Lastmod  -}}
          {{- $lastmod = time $.Params.Lastmod -}}
        {{- end -}}
      {{- else -}}
        {{- $lastmod = time .Params.Lastmod -}}
      {{- end -}}
    {{- end -}}
    {{- if and (strings.Contains .RawContent "# Update") (eq $lastmod "") -}}
      {{- errorf "[check-post.html] Missing modification date for %s" $page.RelPermalink -}}
    {{- end -}}
    {{- if and (ne $lastmod "") (or (lt $lastmod .Date) (gt $lastmod time.Now)) -}}
      {{- errorf "[check-post.html] Modification is earlier then creation date or in the future for %s" $page.RelPermalink  -}}
    {{- end -}}
    {{- $headings := partial "check-post/flatten-headings.html" .Fragments.Headings -}}
    {{- range $headings -}}
      {{- if hasPrefix .Title "Nachtr" -}}
        {{- errorf "[check-post.html] Heading with 'Nachtr' in %s" $page.RelPermalink -}}
      {{- end -}}
      {{- if and (eq .Level 1) (not (hasPrefix .Title "Update")) -}}
        {{- errorf "[check-post.html] Level 1 heading in %s" $page.RelPermalink -}}
      {{- end -}}
      {{- if and (eq .Level 2) (hasPrefix .Title "Update") -}}
        {{- errorf "[check-post.html] Level 2 heading with 'Update' in %s" $page.RelPermalink -}}
      {{- end -}}
    {{- end -}}
  {{- end -}}

  {{- $youtubeShortcodes := findRE `{{<\s*youtube\s+[^>]+>}}` $page.RawContent -}}
  {{- range $youtubeShortcodes -}}
    {{- if not (findRE `\bclass\s*=` .) -}}
      {{- errorf "[check-post.html] No YouTube shortcode with class attribute in %s: %s" $page.RelPermalink . -}}
    {{- end -}}
  {{- end -}}
  {{- if and (.HasShortcode "pdf-preview") (not (isset .Params "preview")) -}}
    {{- errorf "[check-post.html] Missing preview parameter for pdf-preview shortcode in %s" $page.RelPermalink -}}
  {{- end -}}
  {{/* TODO: Finish this
  {{ with $page.Params.cite }}
    {{ if not (in $page.OutputFormats "bibtex") }}
      {{ errorf "[check-post.html] Missing 'bibtex' output format in %s" $page.RelPermalink }}
    {{ end }}
  {{ end }}
  */}}

{{- end -}}

{{- define "_partials/check-post/flatten-headings.html" -}}
  {{- $headings := slice -}}
  {{- range $heading := . -}}
    {{- with $heading.Headings -}}
      {{- $headings = $headings | append (partial "check-post/flatten-headings.html" $heading.Headings)  -}}
    {{- end -}}
    {{- $headings = $headings | append $heading -}}
  {{- end -}}
  {{- return $headings -}}
{{- end -}}
