<header class="header header-main" id="head" data-sticky-class="sticky-top">
    <div class="wrapper">
        <div class="menu-close"></div>
        <div class="menu">
            {{ partial "menu.html" . }}
        </div>
        <div class="home-link">
            <a href="/"><h1 class="header-title">{{ $.Site.Title }}</h1></a>
        </div>

        {{- $subtitle := .Params.subtitle | default "" -}}
        {{- if ne $subtitle "" -}}
              <h2 class="header-subtitle">{{ $subtitle }}</h2>
        {{- end -}}
    </div>
    <div class="header-spacer"></div>
</header>
