{{- $class := "" -}}
{{- if ne .Params.type nil -}}
    {{- $class = .Params.type -}}
{{- end -}}
{{- $previewWidth :=  slice "1280" "640" "320" -}}
{{- $class = printf "%s %s" $class (.Scratch.Get "class") -}}
<div class="post {{ $class }}">
    <div class="content">
        <h2 class="post-title"><a class="readmore" href="{{ .RelPermalink}}" title="{{ i18n "readmore" }}">{{ .Title }}</a></h2>
        <div class="post-date">

          {{- .Date | time.Format ":date_full" -}}
        </div>
        <div class="post-body">
          {{- with .Params.description -}}
            <div class="post-description">
              {{- . -}}
            </div>
          {{- end -}}
          {{- with .Params.preview -}}
            {{- $src := . -}}
            {{- $class := "" -}}
            {{- $hide := false -}}
            {{- if reflect.IsMap . -}}
              {{- $src = index . "image" -}}
              {{- $class = index . "class" -}}
              {{- if and (isset . "hide") (eq (index . "hide") true) -}}
                {{- $hide = true -}}
              {{- end -}}
            {{- end -}}
            {{- if eq $hide false -}}
              <div class="post-preview">
                <picture>
                  {{- range $previewWidth -}}
                    {{- $imgRes := $.Page.Resources.Get $src -}}
                    {{- if eq $imgRes nil -}}
                      {{- errorf "[partials/li.html] Preview image %s missing for %s" $src $.RelPermalink -}}
                    {{- end -}}
                    <source media="(min-width:{{ . }}px)" srcset="{{ ($imgRes.Resize (printf "%sx" .)).RelPermalink }}">
                  {{- end -}}
                  {{- $imgRes := $.Page.Resources.Get $src -}}
                  <a title="{{ $.Title}}" href="{{ $.RelPermalink }}">
                    <img src="{{ ($imgRes.Resize (printf "%sx webp picture" "1280")).RelPermalink }}" alt="{{ $.Title }}" {{ if ne $class "" }}class="{{ $class }}"{{ end }} />
                  </a>
                </picture>
              </div>
            {{- end -}}
          {{- end -}}
          {{ .Summary }}
        </div>
        <div class="meta">
            <a class="readmore" href="{{ .RelPermalink}}" title="{{ i18n "readmore" }}"><button class="button-gradient animated">{{ i18n "readmore" }}</button></a>
            {{ partial "meta/tags.html" . }}
        </div>
    </div>
</div>
