{{ $class := .Params.type }}
<div class="post {{ $class }}">
  <div class="content">
      <h1 class="post-title">{{ .Title }}</h1>
      {{- if not .Params.metaPage -}}
        <div class="date">
          <time class="post-data" datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">
            {{- .Date | time.Format ":date_full" -}}
          </time>
        </div>
      {{- end -}}
      {{- with .Params.doi -}}
        <div class="doi-reference">
          {{- partial "doi.html" . -}}
        </div>
      {{- end -}}
      <div class="post-body">
        {{- .Content -}}
      </div>
  </div>

  {{- if eq .Kind "section" -}}
    {{- partial "section-contents-list.html" . -}}
  {{- end -}}

  {{- if not .Params.metaPage -}}
    <div class="post-footer">
      {{- partial "data/wikidata.html" . -}}
      <div class="spacer">
      </div>
      <div class="meta">
        <div class="tags-heading">{{ i18n "Tags" }}</div>
        {{ partial "meta/tags.html" . }}
      </div>
    </div>
  {{ end }}
</div>
