{{- $description := "" -}}
{{- if .Params.description -}}
  {{- $description = .Params.description -}}
{{- end -}}
{{- if and .Description (eq $description "") -}}
  {{- $description = .Description -}}
{{- end -}}
{{- if eq $description "" -}}
  {{- $description = .Summary -}}
{{- end -}}

{{- if or (and $.Site.Params.description (eq $description "")) $.IsHome -}}
  {{- $description = $.Site.Params.description -}}
{{- end -}}

{{- if ne $description "" -}}
  <meta name="description" content="{{ $description }}">
{{- end -}}
