@use "pkg:@fontsource-utils/scss" as fontsource;
@use "pkg:@fontsource-variable/josefin-sans/scss" as ralewayVariabale;
@use "pkg:@fontsource-variable/league-spartan/scss" as leagueSpartanVariable;
@use "pkg:@fontsource-variable/geist-mono/scss" as geistMonoVariabale;

@include fontsource.faces($metadata: ralewayVariabale.$metadata, $weights: 400, $subsets: latin);
@include fontsource.faces($metadata: leagueSpartanVariable.$metadata, $weights: 400, $subsets: latin);
@include fontsource.faces($metadata: geistMonoVariabale.$metadata, $weights: 400, $subsets: latin);

$monospace-font: 'Geist Mono', Consolas, 'Liberation Mono', Menlo, monospace;
$headings-font: "League Spartan", Futura, sans-serif;
$body-font: "Josefin Sans", Futura, sans-serif;

h1, h2, h3 {
  font-family: $headings-font;
}

body, p, div {
  font-family: $body-font;
}

.monospaced {
  font-family: $monospace-font;
}