oxigraph-sparql, rdf-graph {
  --sparql-font-family: "Josefin Sans", Futura, sans-serif;
  --sparql-font-size: 1.2em;
  --sparql-line-height: 1.2;
  --sparql-section-gap: 0;
  --sparql-accent-text: #fff;
  --sparql-accent: linear-gradient(100deg, #b2444d, #701611);
}

oxigraph-sparql {
  --sparql-section-gap: 0;
  --actions-hint-display: none;
  --actions-font-size: 100%;
  --sparql-editor-font-size: 1rem;
  --sparql-editor-font: Geist Mono, Consolas, Liberation Mono, Menlo, monospace;
  --sparql-font-size: 1.2em;
  --sparql-editor-min-height: 16em;
  /* --actions-font-size: 1.2rem; */
  --result-font-size: 1rem;
  --sparql-accent-text: #fff;
  --sparql-accent: linear-gradient(100deg, #b2444d, #701611);
}