oxigraph-sparql, rdf-graph {
  --sparql-font-family: "Josefin Sans", Futura, sans-serif;
  --sparql-font-size: 1.2em;
  --sparql-line-height: 1.2;
  --sparql-section-gap: 0;
  --sparql-accent-text: #fff;
  --sparql-accent: linear-gradient(100deg, #b2444d, #701611);
}

rdf-graph {
  --graph-width: 100%;
  /* --graph-height: calc(100vh - 10%); */
  --graph-height: 100vh;
  --sparql-export-btn-display: none;
  width: var(--graph-width);
  height: var(--graph-height);
  display: block;
  position: relative;
}