
{{- $profilelPage := unmarshal `{
    "@context" : "http://schema.org",
    "@type" : "ProfilePage",
    "mainEntity" : {
        "@type" : "Person",
        "name" : "Christian Mahnke",
        "givenName" : "Christian",
        "familyName" : "Mahnke",
        "jobTitle" : "Creative Technologist",
        "description": [
          { "@language": "de", "@value": "Sammler und Creative Technologist, spezialisiert auf die Alltagskultur des 20. Jahrhunderts und ihre digitale Präsentation." },
          { "@language": "en", "@value": "Collector and creative technologist specialising in 20th-century everyday culture and its digital presentation." }
        ],
        "url" : "https://christianmahnke.de/",
        "logo": "https://christianmahnke.de/images/logo.png",
        "worksFor": {
            "@type": "Organization",
            "name": "Projektemacher",
            "url": "https://projektemacher.org/"
        },
        "gender": "male",
        "memberOf": [
            {
                "@type": "Organization",
                "name": "Deutscher Museumsbund e.V.",
                "url": "https://www.museumsbund.de/"
            },
            {
                "@type": "Organization",
                "name": "europeana pro",
                "url": "https://pro.europeana.eu/"
            }
        ],
        "sameAs": [
            "https://github.com/cmahnke",
            "https://www.linkedin.com/in/cmahnke/",
            "https://www.librarything.com/profile/cmahnke",
            "https://orcid.org/0009-0003-1361-4159",
            "https://openbiblio.social/@cmahnke",
            "https://pro.europeana.eu/person/christian-mahnke",
            "https://term.museum-digital.de/md-de/persinst/322830",
            "https://huggingface.co/cmahnke",
            "https://publications.goettingen-research-online.de/cris/rp/rp115268",
            "http://www.wikidata.org/entity/Q137668638"
        ]
    }
}` -}}
<script type="application/ld+json">
  {{ jsonify $profilelPage | safeJS }}
</script>
