{{- $page := . -}}
{{- $defaultRelation := "related" -}}
{{- $entityBase := "http://www.wikidata.org/entity/" -}}
{{- $type := "BlogPosting" -}}

{{- $linkedArt := dict -}}
{{- with .Params.linkedart -}}
  {{- $type = "VisualArtwork" -}}
  {{- $linkedArtRecord := partial "metadata/linked-art/linked-art.json" $ -}}
  {{- $artist := dict -}}
  {{- with $linkedArtRecord.produced_by.carried_out_by -}}
    {{- $artist = dict "@type" (index . 0).type "@id" (index . 0).id "name" (index . 0)._label -}}
  {{- end -}}
  {{- if gt ($artist | len) 0 -}}
    {{- $linkedArt = $linkedArt | merge (dict "artist" $artist) -}}
  {{- end -}}
  {{- $linkedArt = $linkedArt | merge (dict "mainEntityOfPage" ($.OutputFormats.Get "html").Permalink) -}}
{{- end -}}

{{- $codemeta := dict -}}
{{- $cffFile := "CITATION.cff" -}}
{{- with .Resources.Get $cffFile -}}
  {{- $codemeta = partial "metadata/codemeta/codemeta.json" $page | transform.Unmarshal -}}
{{- end -}}

{{- $author := transform.Unmarshal (partialCached "metadata/schema.org/util/author.html" .) -}}
{{- $author = $author | merge (dict "url" site.BaseURL) -}}

<script type="application/ld+json">
  {{- $schemaOrg := transform.Unmarshal (partial "metadata/schema.org/util/post.html" $page) -}}
  {{- $schemaOrg = $schemaOrg | merge (dict "@context" "http://schema.org" "@type" $type) -}}
  {{- $schemaOrg = $schemaOrg | merge (dict "isPartOf" (dict "@type" "Blog" "@id" (printf "%s%s" .Site.BaseURL "post") "name" (printf "%s %s" .Site.Title "Blog"))) -}}
  {{- if ne $author nil -}}
    {{- $schemaOrg = $schemaOrg | merge (dict "author" $author) -}}
  {{- end -}}

  {{- $keywords := slice -}}
  {{- with .Keywords -}}
    {{- if not site.Params.keywordAsString -}}
      {{- if not (reflect.IsSlice .) -}}
        {{- $keywords = split . "," -}}
      {{- else -}}
        {{- $keywords = . -}}
      {{- end -}}
    {{- else -}}
      {{- $keywords = split (delimit . " ") ", " -}}
    {{- end -}}
  {{- end -}}
  {{- with .Params.tags -}}
    {{- range $tag := . -}}
      {{- if hasPrefix . "hidden_" -}}
        {{- continue -}}
      {{- end -}}
      {{- if ne . "" -}}
        {{- $keywords = $keywords | append . -}}
      {{- end -}}
    {{- end -}}
  {{- end -}}

  {{- $about := partial "metadata/schema.org/util/about.html" $page | transform.Unmarshal (dict "format" "json") -}}

  {{- with $about -}}
    {{- $schemaOrg = $schemaOrg | merge (dict "about" .) -}}
  {{- end -}}
  {{- with $keywords -}}
    {{- $schemaOrg = $schemaOrg | merge (dict "keywords" .) -}}
  {{- end -}}
  {{- with $codemeta -}}
    {{- $schemaOrg = $schemaOrg | merge (dict "mentions" .) -}}
  {{- end -}}
  {{ $schemaOrg | jsonify | safeJS }}
</script>
