<script type="application/ld+json">
{
    "@context" : "http://schema.org",
    "@type" : "ProfilePage",
    "mainEntity" : {
        "@type" : "Person",
        "name" : "Christian Mahnke",
        "givenName" : "Christian",
        "familyName" : "Mahnke",
        "jobTitle" : "Creative Technologist",
        "url" : "https://christianmahnke.de/",
        "logo": "https://christianmahnke.de/images/logo.png",
        "worksFor": {
            "@type": "Organization",
            "name": "Projektemacher",
            "url": "https://projektemacher.org/"
        },
        "gender": "male",
        "memberOf": [
            "Deutscher Museumsbund e. V."
        ],
        "sameAs": [
            "https://github.com/cmahnke",
            "https://www.linkedin.com/in/cmahnke",
            "https://www.librarything.com/profile/cmahnke",
            "https://orcid.org/0009-0003-1361-4159"
        ]
    }
}
</script>
