{{ $class := .Params.type }}
{{- partial "check-post.html" . -}}
<div class="post {{ $class }}">
  <div class="content">
      <h1 class="post-title">{{ .Title | markdownify }}</h1>
      <div class="post-meta">
        {{- with .Params.description -}}
          <div class="post-description">{{ . }}</div>
        {{- end -}}
        {{- if not .Params.metaPage -}}
          <div class="date">
            <time class="post-data" datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">
              {{- .Date | time.Format ":date_full" -}}
            </time>
          </div>
          {{- $lastmod := "" -}}
          {{- if ne .Date .Params.Lastmod -}}
            {{- with .GitInfo -}}
              {{- if ne .CommitDate $.Params.Lastmod  -}}
                {{- $lastmod = time $.Params.Lastmod -}}
              {{- end -}}
            {{- else -}}
              {{- $lastmod = time .Params.Lastmod -}}
            {{- end -}}
          {{- end -}}
          {{- with $lastmod -}}
            <div class="update">
              <div class="update-label">{{ i18n "updatedOn" }}</div>
              <time class="date" datetime="{{ $lastmod.Format "2006-01-02T15:04:05Z07:00" }}">
                {{- $lastmod | time.Format ":date_full" -}}
              </time>
            </div>
          {{- end -}}
        {{- end -}}
        <div class="post-author">
          {{- with site.Params.author -}}
            <div class="author-name">{{- .name -}}</div>
            <a class="author-orcid" href="https://orcid.org/{{ .orcid }}">{{- .orcid -}}</a>
          {{- end -}}

        </div>
        {{- $link := (.OutputFormats.Get "html").Permalink -}}
        <div class="post-url"><span class="label">URL</span>: <a class="article-link" href="{{ $link }}">{{ $link }}</a></div>

        {{- with .Params.zenodo.doi -}}
          <div class="post-doi">
            {{- $doi := . -}}
            {{- $resolver := "" -}}
            {{- $doiPrefix := "https://doi.org/" -}}
            <span class="doi-prefix">{{ i18n "doiPrefix" }}: </span><a href="{{ $doiPrefix }}{{ $doi }}" title="{{ i18n "doiLink" }}" class="doi-link">{{ $doi }}</a>
          </div>
        {{- end -}}

        <div class="tags-heading"><span class="label">{{ i18n "keywords" }}</span>
          {{ partial "article/meta/tags.html" . }}
        </div>

        {{- with .Params.abstract -}}
          <div class="abstract">
            {{- . | markdownify -}}
          </div>
        {{- end -}}

        {{/*
          {{- with .Params.doi -}}
            <div class="doi-reference">
              {{- partial "doi.html" . -}}
            </div>
          {{- end -}}
        */}}
      </div>
      <div class="post-body">
        {{- .Content -}}
      </div>
  </div>

  {{- if eq .Kind "section" -}}
    {{- partial "section-contents-list.html" . -}}
  {{- end -}}

  {{- if not .Params.metaPage -}}
    <div class="post-footer">
      {{- partial "data/wikidata.html" . -}}
      {{- partial "data/archive.html" . -}}
      <div class="spacer">
      </div>
    </div>
  {{- end -}}
</div>
{{- if and (not .Params.metaPage) (ne .Kind "section") (not (.HasShortcode "related")) -}}
  <div class="related-posts">
    {{ with site.RegularPages.Related . | first 5 }}
      <div class="related-header">{{ i18n "relatedContent" }}:</div>
      <ul>
        {{ range . }}
          <li><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></li>
        {{ end }}
      </ul>
    {{ end }}
  </div>
{{- end -}}
{{- $footnotes := partial "article/footnotes.html" . -}}
{{- if $footnotes -}}
  <div class="references-heading">{{ i18n "references" }}</div>
  <div class="footnotes">
    {{- $footnotes -}}
  </div>
{{- end -}}
