{{- $src := .Path.file -}}
{{- $id := printf "_hdr-check-%s" (md5 (printf "%s-%s" $src now.UnixNano)) -}} -}}
<div id="{{ $id }}" class="hdr-check-result"></div>
<script type="text/javascript">
  const hdrCheckResult = document.getElementById("{{ $id | safeJS }}");
  if (checkHDRCanvas()) {
    hdrCheckResult.innerText = "{{ i18n "hdrSupported" | safeJS }}";
    hdrCheckResult.style.color = "green";
  } else {
    hdrCheckResult.innerText = "{{ i18n "hdrNorSupported" | safeJS }}";
    hdrCheckResult.style.color = "red";
  }
</script>
