{{- $href := "" -}}
{{- $title := "" -}}
{{- $class := "" -}}
{{- $id := "" -}}
{{- with .Get "link" -}}
    {{- $href = . -}}
{{- end -}}
{{- with .Get "title" -}}
    {{- $title = . -}}
{{- end -}}
{{- with .Get "class" -}}
    {{- $class = . -}}
{{- end -}}
{{- with .Get "id" -}}
    {{- $id = . -}}
{{- end -}}
{{- if eq $id "" -}}
  {{- errorf "[shortcodes/entity.html] Entity ID missing for %s" $href -}}
{{- end -}}
{{/*
{{- $class = printf "%s %s" $class $id -}}
*/}}
{{- $external := false -}}
{{- if and (or (hasPrefix $href "http") (hasPrefix $href "//")) (not (hasPrefix $href .Site.BaseURL)) -}}
  {{- $class = printf "%s %s" $class "external" -}}
  {{- $external = true -}}
{{- end -}}

{{- $primaryLang := .Language.Lang -}}
{{- $langs := slice $primaryLang -}}
{{- range .Translations -}}
  {{- $langs = $langs | append .Language.Lang -}}
{{- end -}}
{{- $name := partial "data/functions/wikidata-label.html" (dict "url" $id "langs" $langs) -}}

{{- if ne $name "" -}}
  {{- $title = $name -}}
{{- end -}}

<a data-wikidata="{{ $id }}" data-label="{{ $name }}" {{ if ne $href "" }}href="{{ $href }}"{{ end }} {{ if ne $class "" }}class="{{ $class }}"{{ end }} {{ if ne $title "" }}title="{{ $title }}"{{ end }} {{ if $external }}target="_blank"{{ end }} >{{.Inner | safeHTML}}</a>
