{{- $src := .Page.File -}}
{{- $id := printf "_hdr-check-%s" (md5 (printf "%s-%s" $src now.UnixNano)) -}}
<div ></div>
<details id="{{ $id }}" class="hdr-check-result">
  <summary>{{ i18n "hdrCheck" }}</summary>
  <p></p>
</details>

<script type="text/javascript">
  const hdrCheckResult = document.getElementById("{{ $id | safeJS }}");
  if (checkHDRCanvas()) {
    hdrCheckResult.querySelector('p').innerText = "{{ i18n "hdrCanvasSupported" | safeJS }}";
    hdrCheckResult.classList.add("success");
  } else {
    hdrCheckResult.querySelector('p').innerText = "{{ i18n "hdrCanvasNotSupported" | safeJS }}";
    hdrCheckResult.classList.add("fail");
  }
</script>

{{- define "partials/shortcodes/hdr-check-check-metadata.html" -}}
  {{- (dict "css" slice "js" (slice "js/hdr-check.js") "scss" (slice "scss/hdr-check.scss")) | jsonify -}}
{{- end -}}
